.ticker-outer {
  height: 100%;
  position: relative;
  &:hover {
    z-index: 1;
  }
}
.ticker-banner {
  z-index: 0;
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  .container {
    color: #fff;
    position: relative;
    top: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    transition: all .25s ease 0s;
    z-index: 1000;
    max-width: none !important;


    * {
      box-sizing: border-box;
    }

  }
}

.ticker-banner .tick-item-wrapper {
  width: 100%;
  padding-left: 100%;
  box-sizing: content-box;
  height: 100%;
}

.ticker-banner .tick-item-wrapper .tick {
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-banner.header .tick-item-wrapper .tick {
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}

.ticker-banner .tick-content-wrapper {
  display: inline-flex;
}

.ticker-banner .tick-item-wrapper .tick__item, .ticker-banner .tick-item-wrapper.tick__item a {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-right: 5rem;
  p {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.ticker-banner.header .tick-item-wrapper .tick__item {
  font-size: 2rem;
}

@media only screen and (min-width: 1400px) {
  .ticker-banner .tick-item-wrapper .tick__item {
    font-size: 10rem;
  }
}

@media only screen and (min-width: 1920px) {
  .ticker-banner.header .tick-item-wrapper .tick__item {
    font-size: 3rem;

  }
}

@-webkit-keyframes ticker {
  0%{
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    visibility:visible}
  to {
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0)
  }

}@keyframes ticker {
   0%{
     -webkit-transform:translateZ(0);
     transform:translateZ(0);
     visibility:visible}
   to {
     -webkit-transform:translate3d(-100%,0,0);
     transform:translate3d(-100%,0,0)
   }
 }
