---
layout: default
title : Superrr News
description :
type: lab
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left.liquid %}
    <div class="content-wrap navigation-left-victim">
        <div class="section mobile-padded fullwidth bg-white">
            <div class="content-wrap-inner">
                <h3 class="section-headline">Superrr News</h3>
                <div class="posts-holder">
                    {% for post in site.posts %}
                        {% if post.type != 'fellows' %}
                            {% include post-teaser.liquid %}
                            {% assign index = index | plus:1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var is_large_header_page = false;
</script>




