---
layout: ftf
title : Feminist Tech Fellows
description : Demanding inclusive and radically diverse digital futures
type: fellows
---
<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap navigation-left-victim">
        <div class="section image half bg-white ftf-home">
            <div class="content-wrap-inner">
                <a href="deck">
                    <img src="" class="img-responsive d-none d-md-block lazyload" data-src="{{ site.baseurl }}/assets/img/static/feminist_tech_policy_landscape.jpg" alt="The Feminist Tech Policy" />
                    <img src="" class="img-responsive d-block d-md-none lazyload" data-src="{{ site.baseurl }}/assets/img/static/feminist_tech_policy2_portrait.jpg" alt="The Feminist Tech Policy" />
                </a>
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
                <h1 class="text-center">Towards a Feminist Tech Policy</h1>
                <div class="intro-text text-left text-sm-center">
                    <p>
                        As SUPERRR Lab we’ve set out to work on a Feminist Tech Policy because we believe that in order to build just and inclusive digital futures it needs a holistic view of digitalization. We need to shed light on power structures, injustices and the environmental aspects that are at play when technology is being built and regulated. A feminist approach helps us to think and see beyond existing stories and structures. With the Feminist tech Policy we question current innovation narratives and examine the value of maintenance, accessibility, openness and care for the digital societies of the future. 

                        <br><br>Together with activists, educators, writers, technologists and designers we have developed a set of Feminist Tech Principles and a Feminist Tech Card Deck. These elements are the first step towards the development of a Feminist Tech Policy that can be used by policy makers, non-profits and other actors. In the upcoming months of the year 2022 we will work on developing the Feminist Tech Policy further.
                    </p>
                 </div>
                    {% include partials/ftf-button.liquid text='About the project' href='about' %}
                <div class="intro-text text-left text-sm-center">
                    <h1 class="text-center">The Feminist Tech Card Deck</h1>
                    <p>
                        The core element of the Feminist Tech Framework is a card deck that helps players engage in discussions about feminist tech in a fun way while drawing upon their own experiences and visions.
                    </p>
                </div>
                {% include partials/ftf-button.liquid text='To the card deck' href='deck' %}
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner">
                <div class="ftf-quote">
                    <blockquote class="text-left text-sm-center">
                        »Right now, big tech is shaping what our future technologies look like and how we imagine them. And because we have become so dependent on their products, our reliance upon their visions is closing down avenues for alternative futures.«
                        <span class="text-left text-sm-center">— Fieke Jansen & Michelle Thorne </span>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section fullwidth bg-white padded">
            <div class="content-wrap-inner shrinked">
                <h1 class="text-center">The Feminist Tech Principles</h1>
                <p class="text-center">
                    The Feminist Tech principles are a set of guidelines for tech policy-making and technology creation. They are intended as a responsive work-in-progress that reflect the evolving nature of our digital world. The principles were drafted in a collaborative process between the team at SUPERRR Lab and a group of activists, policymakers, writers, designers, technologists, researchers and educators, that advocate for digital rights and the rights of marginalised groups.
                </p>
                <p class="text-center">
                    These principles take a critical lens to tech, observing and addressing the power structures behind the creation, regulation and use of technology, and offering a framework for creating new, emancipatory structures.
                </p>
                <div class="d-flex flex-column flex-sm-row my-5 py-5 align-items-center justify-content-sm-between">
                    {% include partials/ftf-pill.liquid text='Global' href='/feministtech/principles/#global' classes="mb-3 mb-sm-0" %}
                    {% include partials/ftf-pill.liquid text='Societal' href='/feministtech/principles/#societal' classes="mb-3 mb-sm-0" %}
                    {% include partials/ftf-pill.liquid text='Interpersonal' href='/feministtech/principles/#interpersonal' classes="mb-3 mb-sm-0" %}
                    {% include partials/ftf-pill.liquid text='The Self' href='/feministtech/principles/#the-self' classes="mb-3 mb-sm-0" %}
                </div>
                <p class="text-center">
                    Each principle is supported by a brief overview on why we think the principle is necessary, and a good practice example of people or organizations who are already working on this topic in a feminist way. 
                </p>
                {% include partials/ftf-button.liquid text='Read the principles' href='/feministtech/principles' %}
            </div>
        </div>
        <div class="section fellows fullwidth bg-grey-light background-1 padded-top">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1 class="text-center">The Feminist Tech Vision</h1>
                <p>
                    To make the Feminist Tech Principles more tangible and accessible to a wider audience, our contributors and us turn to storytelling by developing a set of future narratives. They aim to envision more just technological futures based on selected Principles.
                </p>
            </div>
            <div class="card-holder" data-category="visions">
                {% assign visions = site.visions | sort: 'order' %}
                {% for post in visions %}
                {% include card-vision.liquid %}
                {% endfor %}
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1 class="text-center">The Contributors</h1>
                <p>
                    To create the feminist tech principles, visions and the card deck, Superrr Lab collaborated with a group of feminist activists, policymakers, writers, designers, technologists and researchers.
                </p>
            </div>
            <div class="content-wrap-inner half">
                <div class="row contributors-holder mt-3 justify-content-center" >
                    {% assign contributors = site.contributors | sort: 'title' %}
                    {% for item in contributors %}
                    {% include sections/contributor-teaser-small.liquid item=item %}
                    {% endfor %}
                </div>
                {% include partials/ftf-button.liquid text='See all contributors' href='/feministtech/contributors' %}
            </div>
        </div>
    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



