---
layout: ftf
title : Feminist Tech Fellows
description : Demanding inclusive and radically diverse digital futures
type: fellows
---
<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap navigation-left-victim">
        <div class="section fullwidth bg-white image">
            <a href="deck">
                <img class="img-responsive" src="{{ site.baseurl }}/assets/img/static/header.png" />
            </a>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
                <h1 class="text-center">The Feminist Tech Card Deck</h1>
                <div class="intro-text">
                    <p>
                        Technology that is considered from a narrow or single perspective leads to unrepresentative regulation and the reinforcement of existing intersectional injustices. By analyzing tech through a feminist gaze, we begin to see the ways in which white, capitalist, patriarchal, and colonialist structures work together and influence tech processes. These principles look at tech through a critical lens, observing and addressing the power structures behind technology creation, regulation, and use, and offering a framework for creating otherwise.
                    </p>
                </div>
                {% include partials/ftf-button.liquid text='Learn more' href='deck' %}
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner">
                <div class="ftf-quote with-shadow">
                    <blockquote>
                        "We are committed to interrogating the capitalist logic that drives technology towards further privatization, profit, and corporate control. We work to create alternative forms of economic power that are grounded in principles of cooperation, solidarity, commons, environmental sustainability, and openness."
                        <span>— feminist internet</span>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
                <h1 class="text-center">The Feminist Tech Principles</h1>
                <p>
                    The Feminist Tech principles are a work in progress set of guidelines for feminist tech policy-making and technology creation. They have been drafted by various people SUPERRR Lab has invited into the process; activists, policymakers, writers, designers, technologists, researchers, and educators, that advocate for digital rights and the rights of marginalized groups.
                </p>
                <div class="d-flex my-5 py-5 justify-content-between">
                    {% include partials/ftf-pill.liquid text='Global' href='/feministtech/principles/#global' %}
                    {% include partials/ftf-pill.liquid text='Societal' href='/feministtech/principles/#societal' %}
                    {% include partials/ftf-pill.liquid text='Interpersonal' href='/feministtech/principles/#interpersonal' %}
                    {% include partials/ftf-pill.liquid text='The Self' href='/feministtech/principles/#the-self' %}
                </div>
                <p>
                    Each principle is supported by insights into the status quo, a brief overview on why we think the principle is necessary, and a good practice example of people or organizations who are already working on this topic in a feminist way. To make the topic more tangible and accessible to a wider audience, we turn to storytelling by developing a set of future narratives for some of the principles, with the aim to expand further.
                </p>
                {% include partials/ftf-button.liquid text='Read the principles' href='/feministtech/prinicples' %}
            </div>
        </div>
        <div class="section fullwidth bg-grey-light">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1 class="text-center">The Feminist Tech Vision</h1>
                <p>
                    The Feminist Tech visions are a work in progress set of guidelines for feminist tech policy-making and technology creation.
                </p>
            </div>
            <div class="card-holder" data-category="visions">
                {% assign visions = site.visions | sort: 'order' %}
                {% for post in visions %}
                {% include card-vision.liquid %}
                {% endfor %}
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1 class="text-center">The Contributors</h1>
                <p>
                    To create the feminist tech principles, visions, and the card deck, we worked together with activists, policymakers, writers, designers, technologists, researchers, and educators, that advocate for digital rights and the rights of marginalized groups.
                </p>
            </div>
            <div class="content-wrap-inner half">
                <div class="row contributors-holder mt-3 justify-content-center" >
                    {% assign contributors = site.contributors | sort: 'title' %}
                    {% for item in contributors %}
                    {% include sections/contributor-teaser-small.liquid item=item %}
                    {% endfor %}
                </div>
                {% include partials/ftf-button.liquid text='See all contributors' href='/feministtech/contributors' %}
            </div>
        </div>
    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



