---
layout: ftf
title : The Feminist Tech Card Deck
description : Demanding inclusive and radically diverse digital futures
type: fellows
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap navigation-left-victim">
        <div class="section fullwidth bg-white  mobile-padded">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1>The Feminist Tech Card Deck</h1>
                <p>
                    To add a playful element to the feminist tech principles we've developed a card deck that serves as a conversation starter. It’s intended to help people to explore the principles, engage in discussion with others and develop their own narratives and principles. 

                    Each card features a quote and questions connected to the 12 principles. The card deck can be used in groups – where people pull a card and then share the answers to their questions with the other players – or it can also be used alone. QR codes on the deck guide users to more info on that principle, as well as hands-on good practice examples for inspiration. The deck contains blank cards for additional principles and questions.
                    To start, just download the PDF version of the deck, print it, cut it out and pick a card.

                </p>
            </div>
        </div>
       
        
        <div class="section image half bg-white padded">
            <div class="content-wrap-inner">
                <img src="" class="img-responsive d-none d-md-block lazyload" data-src="{{ site.baseurl }}/assets/img/static/feminist_tech_landscape_01.jpg" alt="The Feminist Tech Card Deck" />
                <img src="" class="img-responsive d-block d-md-none lazyload" data-src="{{ site.baseurl }}/assets/img/static/feminist_tech_portrait.jpg" alt="The Feminist Tech Card Deck" />
            </div>
        </div>
        
        
         <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
               <!-- <h3 class="text-center">How to play the card game</h3>
                <div>
                    <p>
                        To add a playful element to the feminist tech principles – an element that helps people to explore the principles, engage in discussion with others and develop their own narratives and principles, we've developed a card deck that serves as a conversation starter. Each card features a quote and questions connected to the 12 principles. The card deck can be used in groups – where people pull a card and then share the answers to their questions with the other players – or it can also be used alone. The deck contains blank cards for additions of principles and questions. Additions can be added to the online GitHub repository. QR-Codes on the deck will guide users to more info on the principle, as well as hands-on good practice examples for inspiration. To start: just download the PDF version of the deck, print it, cut it out and pick a card.
                    </p>   -->
                    {% assign href = site.baseurl | append: site.card_deck_download_link %}
                    {% include partials/ftf-button.liquid text='Download the deck' href=href target="_blank" %}

                </div>
            </div>
        </div>
        
       
    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



