---
layout: ftf
title : The Feminist Tech Card Deck
description : Demanding inclusive and radically diverse digital futures
type: fellows
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap navigation-left-victim">
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1>The Feminist Tech Card Deck</h1>
                <p>
                    This card deck is a hands-on tool for technology creation and policy making processes. Pick one card after the other (you can go in order or not) and assess, together with others or alone, whether and how this principle is implemented through your work, policy, product, service, or project. On the back there are questions to support you with this. The QR-Code will guide you to the specific place on our website where you find more info on the principle, as well as hands-on good practice examples for inspiration.
                </p>
            </div>
        </div>
        <div class="section image half bg-white padded">
            <div class="content-wrap-inner">
                <img class="img-responsive" src="{{ site.baseurl }}/assets/img/static/feminist_tech_landscape_02.jpg" alt="The Feminist Tech Card Deck" />
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
                <h3 class="text-center">How to play the card game</h3>
                <div>
                    <p>
                        To add a playful element to the feminist tech principles – an element that helps people to explore the principles, engage in discussion with others and develop their own narratives and principles, we've developed a card deck that serves as a conversation starter. Each card features a quote and questions connected to the 12 principles. The card deck can be used in groups – where people pull a card and then share the answers to their questions with the other players – or it can also be used alone. The deck contains blank cards for additions of principles and questions. Additions can be added to the online GitHub repository. QR-Codes on the deck will guide users to more info on the principle, as well as hands-on good practice examples for inspiration. To start: just download the PDF version of the deck, print it, cut it out and pick a card.
                    </p>
                    {% assign href = site.baseurl | append: site.card_deck_download_link %}
                    {% include partials/ftf-button.liquid text='Download the deck' href=href %}

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



