<div id="trigger"></div>
<header class="header-wrap">
    <div class="header {{ include.page_type }}">
        {% if include.page_type == 'fellows' %}
            <a class="logo" href="/feministtech">
                <div class="logo-inner">
                    <span class="marquee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS&nbsp;<span class="white">FEMINIST&nbsp;TECH</span>&nbsp;FELLOWS</span>
                </div>
            </a>
        {% elsif include.page_type == 'lab' %}
            <a class="logo" href="/lab">
                <div class="logo-inner">
                    <span class="marquee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;<span class="white">SUPERRR</span>&nbsp;LAB&nbsp;</span>
                </div>
            </a>
        {% else %}
            <a class="logo" href="/">
                <div class="logo-inner">
                    <span class="black block1">SUPER</span><span class="white block2" >RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</span>
                </div>
            </a>
        {% endif %}
    </div>
</header>


