<div id="trigger"></div>
<header class="header-wrap">
    <div class="header {{ include.page_type }} {% if include.page_type == 'fellows' %}with-shadow grey{% endif %}">
        {% if include.page_type == 'fellows' %}
            <a class="logo" href="/">
                <div class="logo-inner">
                    <span class="marquee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span><span class="color-ftf-lila">FEMINIST</span><span class="color-ftf-red">&nbsp;TECH&nbsp;</span></span>
                </div>
            </a>
        {% elsif include.page_type == 'lab' %}
            <a class="logo" href="/">
                <div class="logo-inner">
                    <span class="marquee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;<span class="white">SUPERRR</span>&nbsp;SUPERRR&nbsp;</span>
                </div>
            </a>
        {% else %}
            <a class="logo" href="/">
                <div class="logo-inner">
                    <span class="black block1">SUPER</span><span class="white block2" >RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</span>
                </div>
            </a>
        {% endif %}
    </div>
</header>


