---
layout: default
title : Superrr Talks
description :
type: lab
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left.liquid %}
    <div class="content-wrap navigation-left-victim">
        <div class="section mobile-padded fullwidth min-fullheight bg-grey-light">
            <div class="row">
                <div class="col-24">
                    <div class="content-wrap-inner">
                        <h3 class="section-headline">{{ page.title }}</h3>
                        {% capture currentDate %}{{ site.time | date: '%F' }}{% endcapture %}
                        {% assign sorted = site.talks | reverse %}
                        {% assign size = 0 %}
                        {% for post in sorted %}
                        {% capture postDate %}{{ post.date | date: '%F' }}{% endcapture %}
                        {% if currentDate <= postDate %}
                        {% assign size = size | plus: 1 %}
                        {% endif %}
                        {% endfor %}
                        {% if size > 0 %}
                        <span class="post-info-text uppercase fontsize-28">upcoming</span>
                        <div class="talks-holder">
                            {% for post in sorted %}
                            {% capture postDate %}{{ post.date | date: '%F' }}{% endcapture %}
                            {% if currentDate <= postDate %}
                                {% include talk-teaser.liquid %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% assign sorted = site.talks | reverse %}
                        {% assign size = 0 %}
                        {% for post in sorted %}
                        {% capture postDate %}{{ post.date | date: '%F' }}{% endcapture %}
                        {% if currentDate > postDate %}
                        {% assign size = size | plus: 1 %}
                        {% endif %}
                        {% endfor %}
                        {% if size > 0 %}
                        <span class="post-info-text uppercase fontsize-28">past</span>
                        <div class="talks-holder talks-holder__past">
                            {% for post in sorted %}
                            {% capture postDate %}{{ post.date | date: '%F' }}{% endcapture %}
                            {% if currentDate > postDate %}
                            {% include talk-teaser.liquid %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var is_large_header_page = false;
</script>





