---
layout: default
title : About Superrr
---
<div class="row">
    <!-- include navigation -->
    <div class="section col-xs-24 home">
        {% include partials/navigation.liquid  %}
        <div class="content-wrap shrinked text-wrap content-block">
            <p><a href="#">Superrr</a> was started in 2015 by Zara Rahman and Julia Kloiber. It started out as a meetup series for women* from diverse backgrounds.
                “Through our professional and personal lives, we realised that we knew so many great women –  but there were very little occasions where they would all meet each other, or have the time and space to connect over issues that we all cared about. There were a lot of conferences and events but the conversations we were looking for was more than small talk on the margins of a conference.”
                Connecting a diverse group of women* is at the core of Superrr. We strive to connect women* from many different backgrounds – from medical doctors, to anthropologists, social workers, artists and technologists, all of whom have a shared interest in some aspect of positive social change. Diversity doesn’t only make our meetups and discussions more interesting, it makes the community more resilient and strong.
            </p>
            <p>Simplicity is key. We’ve kept the format of the meetups as straightforward and simple as possible. We wanted it to be easy to host meetups and we wanted to focus on the most important part of a community event: the people.
                No special guests or presentations – because everyone is special.
                Why not start a Superrr meet up in your city? We believe that meeting up in person, getting to know each other and having time and space to talk about things that matter to us all can be the beginning of many great collaborations and projects.
                One day, we imagine doing exchanges across Superrr meetups, from city to city, country to country.
                Step by step and together with the community we want to develop the concept further by e.g. adding research programs and trainings.

                <blockquote>Be Superrr!</blockquote>
            </p>
            <p>
                *everyone who identifies as a woman
            </p>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid %}




