---
layout: default
title : About Superrr
type: lab
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left.liquid %}
    <div class="content-wrap navigation-left-victim">
        <div class="section mobile-padded fullwidth home-hero padded background-lab-about with-shadow">
            <div class="content-wrap-inner">
                <h3 class="section-headline">About Superrr</h3>
            </div>
            <div class="content-wrap-inner shrinked">
                <p class="fontsize-40 home-text">
                    Superrr is a community and a lab. We develop visions and projects with the goal to create more equitable futures. We do so by researching technologies, building networks and shaping new narratives. Superrr is playful, visionary and feminist.
                </p>
                <h3 class="fontsize-40">Superrr Lab</h3>
                <p class="fontsize-22 px-4 px-md-5">
                    The mission of Superrr Lab is to explore and develop the potentials of new technologies for society and diversity. We challenge existing paradigms by bringing new perspectives and stakeholders to the discussion. We work with civil society, political decision makers and the tech industry. Through our fellowship programs we support individuals and explore future narratives. In our research work we study the social implications of technology. In our advocacy work we challenge the power and purpose of technology in society. Our work is driven by feminist values such as equity, diversity, creativity and curiosity.
                    Superrr Lab is an independent non-profit organization founded by Elisa Lindinger and Julia Kloiber in 2019.
                </p>
                <h3 class="fontsize-40">Superrr Lab Team</h3>
                <p class="fontsize-22 px-4 px-md-5">
                    <b>Julia Kloiber</b>: Co-Founder and Managing Director, Superrr Lab. Julia has worked with international non-profits such as the <a href="https://foundation.mozilla.org">Mozilla Foundation</a>, <a href="https://www.next-now.org/">Ashoka and the <a href="https://okfn.de/">Open Knowledge Foundation</a>. 
                She has founded a number of initiatives and organizations with a focus on public interest tech and digital public infrastructure. Among them are the <a href="https://prototypefund.de/">Prototype Fund</a>, a public open source fund and the network <a href="https://www.codefor.de/">Code for Germany</a>. 
                Julia Kloiber is a Fellow of the Mozilla Foundation, through her work she explores feminist digital futures. She has a background in design and media studies and is a speaker at international conferences.
                She is on the Advisory Board of <a href="https://www.wikimedia.de/projects/fellow-programm-freies-wissen/">Wikimedia Offene Wissenschaft</a>, <a href="https://digitalservice4germany.com/">Digital Service 4 Germany</a> and the <a href="https://www.postcode-lotterie.de/">Postcode Lottery Germany</a>.
                Contact: julia[at]superrr.net
                </p>    
                     <p class="fontsize-22 px-4 px-md-5">
                         <b>Elisa Lindinger</b>: Co-Founder and Managing Director, Superrr Lab. Elisa works at the intersection of technology, the arts and the humanities. Her research focuses on open digital infrastructure communities, digital civil society, and the social impact of emerging technologies. As a trained archaeologist, Elisa has worked in the fields of culture and computer science for more than a decade, both in and outside of academia. She worked with the <a href="https://okfn.de/">Open Knowledge Foundation Germany</a> on several Civic Tech projects and acted as the director of the <a href="https://prototypefund.de/">Prototype Fund</a>, the first public funding program for freelance software developers in Germany and aims at defining new means to foster technology in the public interest.             
                Conatct: elisa[at]superrr.net
                </p> 
                <h3 class="fontsize-40">Superrr Community</h3>
                <p class="fontsize-22 px-4 px-md-5">
                    Superrr Community is a lose network of female, trans and non-binary people in the arts, in science, tech, journalism, activism and more. People who challenge the status quo by the work they do – through starting new programs and organizations, running campaigns, creating community spaces or developing and building things that try to make the world a better place. We strive for diversity, fairness and equality. We believe that we can best achieve that by working together and by empowering and supporting one another. We meet on a regular basis to come together, exchange new ideas and scheme on new collaborations. We combine our forces to fight for a free society in which everyone can live up to their potentials.
                    <br><br>The Superrr community was started in 2015 by Zara Rahman and Julia Kloiber. Kat Braybrooke, Christine Jakobson and Frederike Kaltheuner run the Superrr community in London.
                </p>
            </div>
        </div>
        <!--
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner">
                <h3 class="section-headline">The Founders</h3>
                <div class="posts-holder d-flex flex-wrap">
                    <div class="post-teaser col-24 col-md-12">
                        <div class="post-info">
                            <p><span class="element-rounded">Elisa Lindinger</span> is a freelance researcher of technology and culture. She has consulted open source and open infrastructure communities and organized and facilitated conferences and event series. As a trained archaeologist, Elisa has worked at the intersection of culture and computer science, both in and outside of academia in fields such as 3d scanning, machine learning and database design. Her current research focuses on open digital infrastructures, and how social practices, norms and values within tech communities shape its development.</p>
                        </div>
                    </div>
                    <div class="post-teaser col-24 col-md-12">
                        <div class="post-info">
                            <p><span class="element-rounded">Julia Kloiber</span> develops strategies and concepts for the digital world. She is the co-founder of the Prototype Fund and Code for Germany. Previously, Julia worked with the Mozilla Foundation, Open Knowledge Foundation Germany and as Consultant for The Engine Room. She a regular speaker at international conferences and advises governments and companies on digital strategies. In her work she is investigating emerging technologies and their influence on society. She enjoys creative solutions to difficult problems. You can read more about her work here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="section fullwidth bg-grey-light">
            <h3 class="section-headline">Projects we are working on</h3>
            <div class="card-holder" data-category="projects">
                {% assign projects = site.projects | sort: 'order' %}
                {% for post in projects %}
                {% include card.liquid %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    var is_large_header_page = false;
</script>





