---
layout: default
title : About Superrr
type: lab
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left.liquid %}
    <div class="content-wrap navigation-left-victim">
        <div class="section mobile-padded fullwidth home-hero padded background-lab-about with-shadow">
            <div class="content-wrap-inner">
                <h3 class="section-headline">About Superrr</h3>
            </div>
            <div class="content-wrap-inner shrinked">
                <p class="fontsize-40 home-text">
                    Superrr develops visions and projects with the goal to create more equitable futures. We do so by researching technologies, building networks and shaping new narratives. Superrr is playful, visionary and feminist.
                </p>
                <p class="fontsize-22 px-4 px-md-5">
                    Superrr is a non-profit that was founded by Elisa Lindinger and Julia Kloiber. We work on an international level with non-profits, companies and public institutions alike. Our clients and partners included the Mozilla Foundation, the Ford Foundation, Stiftung Neue Verantwortung, the Helmholtz Association, Google and others. We advised the commision of inquiry on artificial intelligence of the German parliament, and the European Commission. We have presented at national and international conferences and events, such as re-publica, TED, Public Democracy Forum, the School of Disobedience and more.
                </p>
            </div>
        </div>
        <!--
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner">
                <h3 class="section-headline">The Founders</h3>
                <div class="posts-holder d-flex flex-wrap">
                    <div class="post-teaser col-24 col-md-12">
                        <div class="post-info">
                            <p><span class="element-rounded">Elisa Lindinger</span> is a freelance researcher of technology and culture. She has consulted open source and open infrastructure communities and organized and facilitated conferences and event series. As a trained archaeologist, Elisa has worked at the intersection of culture and computer science, both in and outside of academia in fields such as 3d scanning, machine learning and database design. Her current research focuses on open digital infrastructures, and how social practices, norms and values within tech communities shape its development.</p>
                        </div>
                    </div>
                    <div class="post-teaser col-24 col-md-12">
                        <div class="post-info">
                            <p><span class="element-rounded">Julia Kloiber</span> develops strategies and concepts for the digital world. She is the co-founder of the Prototype Fund and Code for Germany. Previously, Julia worked with the Mozilla Foundation, Open Knowledge Foundation Germany and as Consultant for The Engine Room. She a regular speaker at international conferences and advises governments and companies on digital strategies. In her work she is investigating emerging technologies and their influence on society. She enjoys creative solutions to difficult problems. You can read more about her work here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="section fullwidth min-fullheight bg-grey-light">
            <h3 class="section-headline">Projects we are working on</h3>
            <div class="card-holder" data-category="projects">
                {% assign projects = site.projects | sort: 'order' %}
                {% for post in projects %}
                {% include card.liquid %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    var is_large_header_page = false;
</script>





