$icons: (
	  sprite: (width: 198px, height: 199px, svgPath: 'svg-build/spritesheet.svg'),
 	accordion-closed: (width: 39.6px, height: 39.6px, backgroundX: 0px, backgroundY: 0px),
 	accordion-opened: (width: 39.6px, height: 39.6px, backgroundX: -50px, backgroundY: -50px),
 	arrow-down: (width: 15px, height: 15.899999999999999px, backgroundX: -100px, backgroundY: -100px),
 	arrow-right: (width: 15.899999999999999px, height: 15px, backgroundX: -125px, backgroundY: -126px),
 	arrow-up: (width: 15px, height: 15.899999999999999px, backgroundX: -151px, backgroundY: -151px),
 	link-arrow: (width: 11.899999999999999px, height: 11.899999999999999px, backgroundX: -176px, backgroundY: -177px),
);
