<div class="d-flex {{ include.classes }}">
    <a class="btn-rounded-ftf fontsize-28 {{ include.classes }}" href="{{ include.href }}">
        <p class="m-0 p-0">{{ include.text }}</p>
    </a>
</div>