<form class="fade-in" action="//rainbow-unicorn.us5.list-manage.com/subscribe/post?u=07794224f80eb3988af949760&amp;id=2b1b3a01e0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <h2>Join Newsletter</h2>
    <div class="field-wrap">
        <input type="email" placeholder="YOUR EMAIL" name="EMAIL" id="mce-EMAIL" required>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2d244c0df42a0431bd08ddea_aeaa9dd034" tabindex="-1" value=""></div>
    <div class="mc-status hidden"></div>
    <div class="button-wrap">
        <input type="submit" value="SUBSCRRRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
</form>

<script src="{{ site.baseurl }}/assets/js/modules/mailchimp-ajax.js"></script>