<div class="navigation-wrap">
    <ul class="main-nav {{ include.page_type }}">
            {% assign base_dir = page.url | split:'/'  %}
            {% assign base_dir = base_dir  %}
            {% if include.nav_type == 'ftf' %}
                <!-- feminist tech fellowship -->
                <li {% if base_dir[1] == 'lab' %} class="current" {% endif %}><a class="bg-hover" href="/">LAB</a></li>
                <li {% if base_dir[2] == 'blog' %} class="current" {% endif %}><a class="bg-hover" href="/feministtech/blog">BLOG</a></li>
            {% else %}
                <li {% if base_dir[1] == 'lab' %} class="current" {% endif %}><a class="bg-hover" href="/">LAB</a></li>
                <li {% if base_dir[1] == 'community' %} class="current" {% endif %}><a class="bg-hover" href="/community">COMMUNITY</a></li>
            {% endif %}
    </ul>
</div>
