<!-- include navigation-left for ftf -->
<div class="navigation-left-wrap">
    <div class="navigation-left-open-wrap">
        <div class="nav-open-btn fellows">
            {% include partials/nav-icon-open.liquid %}
        </div>
    </div>
    <div class="navigation-left-wrap-inner">
        <div class="nav-close-btn fellows">
            {% include partials/nav-icon-close.liquid  %}
        </div>
        <ul class="main-nav fellows font-headline">
            {% assign base_dir = page.url | split:'/'  %}
            {% assign base_dir = base_dir  %}
            <li {% if base_dir[2] == 'about' %} class="current" {% endif %}><a class="fontsize-50" href="/feministtech/about">About</a></li>
            <li {% if base_dir[2] == 'deck' %} class="current" {% endif %}><a class="fontsize-50" href="/feministtech/deck">The Card Deck</a></li>
            <li {% if base_dir[2] == 'principles' %} class="current" {% endif %}><a class="fontsize-50" href="/feministtech/principles">The Principles</a></li>
            <li {% if base_dir[2] == 'visions' %} class="current" {% endif %}><a class="fontsize-50" href="/feministtech/visions">Visions</a></li>
            <li {% if base_dir[2] == 'contributors' %} class="current" {% endif %}><a class="fontsize-50" href="/feministtech/contributors">Contributors</a></li>
            <li data-dir="{{ base_dir[2] }}" {% if base_dir[2] == 'fellows' %} class="current" {% endif %}><a class="fontsize-50 rounded-hover" href="/feministtech/fellows">Fellows</a></li>
            <li ><a class="fontsize-50" href="/feministtech/contributors">Contributors</a></li>
        </ul>
        <div class="community-batch-wrap">
                    <a href="{{ site.support_us_link }}" title="{{ site.support_us_text }}" class="batch-inner support">
                                                <div class="img-responsive batch-svg" >
                                                    {% include svgs/superrr-support.liquid %}
                                                </div>
                                            </a>
                </div>
    </div>
</div>
