<!-- include navigation-left -->
<div class="navigation-left-wrap">
    <div class="navigation-left-open-wrap">
        <div class="nav-open-btn"></div>
        <!--<div class="nav-open-info">
            <span class="open">MENUE</span>
        </div>-->
    </div>
    <div class="navigation-left-wrap-inner">
        <div class="nav-close-btn"></div>
        <ul class="main-nav {{ include.page_type }}">
            {% assign base_dir = page.url | split:'/'  %}
            {% assign base_dir = base_dir  %}
            <li {% if base_dir[1] == 'about' %} class="current" {% endif %}><a class="fontsize-50 rounded-hover" href="/about">ABOUT</a></li>
            <li {% if base_dir[1] == 'projects' %} class="current" {% endif %}><a class="fontsize-50 rounded-hover" href="/projects">LAB</a></li>
            <li {% if base_dir[1] == 'community' %} class="current" {% endif %}><a class="fontsize-50 rounded-hover" href="/community">COMMUNITY</a></li>
            <li {% if base_dir[1] == 'news' %} class="current" {% endif %}><a class="fontsize-50 rounded-hover" href="/news">NEWS</a></li>
        </ul>
        <div class="community-batch-wrap">
            {% if page.type == 'community' %}
                <a href="/" class="batch-inner">
                    <object class="img-responsive batch-svg" data="" data-src="{{ site.baseurl }}/assets/img/static/batches/Superrr-lab.svg" type="image/svg+xml" ></object>
                </a>
            {% else %}
                <a href="/community" class="batch-inner">
                    <object class="img-responsive batch-svg" data="" data-src="{{ site.baseurl }}/assets/img/static/batches/Superrr-community.svg" type="image/svg+xml" ></object>
                </a>
            {% endif %}
        </div>
    </div>
</div>
