@import 'variables';

.btn-rounded{
  cursor: pointer;
  color:white !important;
  padding: 1rem 3rem;
  border: 1px solid white;
  border-radius: 50%;

  &.orange{
    border-color:$third-color !important;
    &:hover{
      background-color: $third-color;
      border-color: $third-color;
    }
  }

  &.lab{
    border-color:$third-color !important;
    &:hover{
      background-color: $third-color;
      border-color: $third-color;
    }
  }

  &.fellows{

    @include transition(all .25s ease);
    border-width: 2px;
    border-color:$color-ftf-lila !important;
    color: $color-ftf-lila !important;
    &:hover{

      /*
      background-color: $color-ftf-lila;
      border-color: $color-ftf-lila;
      color: $white !important;
      */

      border-color:$color-ftf-green !important;

      @include ftf-box-glow(green);

      /*
      .has-arrow-left {
        &:before {
          background-image: url($baseurl + '/assets/img/static/icons/arrow-white.svg');
        }
      }*/

    }
  }

}

.more-btn{

  font-family: $font-paelzer-grot-medium;
  display: block;
  padding-bottom: 30px;

  @keyframes animate-up {
    0% {
      transform: translate(-50%,0%);
    }
    50% {
      transform: translate(-50%,-25%);
    }
    100% {
      transform: translate(-50%,0%);
    }
  }


  .more-btn-inner{
    position: relative;

    span{
      display: inline-block;
    }

    &:after{
      background-image: url($baseurl + '/assets/img/static/icons/arrow-up.svg');
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      position: relative;
      width: 30px;
      height: 44px;
      display: block;
      left:50%;
      top: 30px;
      transform: translateX(-50%);
      animation: animate-up 1s ease-in-out infinite;
    }

  }


}

@media only screen and (min-width: 960px) {
  .btn-rounded {
    padding: 1rem 12rem;
  }
}

@media only screen and (min-width: 1024px) {

  .more-btn{

    padding-bottom: 0;

    @keyframes animate {
      0% {
        transform: translateX(0%);
      }
      50% {
        transform: translateX(25%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    &:before{
      background-image: url($baseurl + '/assets/img/static/icons/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      position: relative;
      width: 68px;
      height: 46px;
      display: inline-block;
      top:12px;
      animation: animate 1s ease-in-out infinite;
    }

    .more-btn-inner{

      padding-left: 20px;

      &:after{
        display: none;
        animation: none;
      }
    }

    &.fellow{
      &:hover{

        span{
          color: $fellow-color;
        }

        &:before{
          background-image: url($baseurl + '/assets/img/static/icons/arrow-fellow.svg');
        }

      }
    }



    &.blue-hover{
      &:hover{
        span{
          color: $primary-color;
        }
        &:before{
          background-image: url($baseurl + '/assets/img/static/icons/arrow-blue.svg');
        }
      }
    }

  }

} // end of media query