@import 'variables';
.btn-rounded{
  cursor: pointer;
  color:white !important;
  padding: 1rem 3rem;
  border: 1px solid white;
  border-radius: 50%;

  &.orange{
    border-color:$third-color !important;
    &:hover, &.active, .current, .btn-donate {
      background-color: $third-color;
      border-color: $third-color;
    }
  }

  &.lab{
    border-color:$third-color !important;
    &:hover, &.active, .current, .btn-donate {
      background-color: $third-color;
      border-color: $third-color;
    }
  }

  &-ftf{

    @include transition(all .25s ease);

    font-family: $font-basteleur;

    border-width: 2px;
    border-color:$color-ftf-green !important;
    color: $color-ftf-lila;
    &:hover, &.active{
      border-color:$color-ftf-green !important;
      color: white;
      @include ftf-text-glow(green);

    }
  }

}

.more-btn{

  font-family: $font-paelzer-grot-medium;
  display: block;
  padding-bottom: 0px;

  &.home {
    padding-bottom: 20px;
  }

  @keyframes animate-up {
    0% {
      transform: translate(-50%,0%);
    }
    50% {
      transform: translate(-50%,-25%);
    }
    100% {
      transform: translate(-50%,0%);
    }
  }


  .more-btn-inner{
    position: relative;

    span{
      display: inline-block;
    }

    &:after{
      background-image: url($baseurl + '/assets/img/static/icons/arrow-up.svg');
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      position: relative;
      width: 20px;
      height: 30px;
      display: block;
      left:50%;
      top: 20px;
      transform: translateX(-50%);
      animation: animate-up 1s ease-in-out infinite;
    }

  }


}

@media only screen and (min-width: 960px) {
  .more-btn {
    padding-bottom: 0 !important;
  }
  .btn-rounded {
    padding: 1rem 12rem;
  }
}

@media only screen and (min-width: 1024px) {

  .more-btn{

    @keyframes animate {
      0% {
        transform: translateX(0%);
      }
      50% {
        transform: translateX(25%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    &:before{
      background-image: url($baseurl + '/assets/img/static/icons/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      position: relative;
      width: 52px;
      height: 38px;
      display: inline-block;
      top:12px;
      animation: animate 1s ease-in-out infinite;
    }

    .more-btn-inner{

      padding-left: 20px;

      &:after{
        display: none;
        animation: none;
      }
    }

    &.fellow{
      &:hover, &.active{

        span{
          color: white;
        }

        &:before{
          background-image: url($baseurl + '/assets/img/static/icons/arrow-fellow.svg');
        }

      }
    }



    &.blue-hover{
      &:hover,  &.active{
        span{
          color: $primary-color;
        }
        &:before{
          background-image: url($baseurl + '/assets/img/static/icons/arrow-blue.svg');
        }
      }
    }

  }

} // end of media query