---
layout: default
title : About Superrr
---
<div class="row">
    <!-- include navigation -->
    <div class="section col-xs-24 home">
        {% include partials/navigation.liquid page=page  %}
        <div class="content-wrap shrinked text-wrap content-block">
            <h2>1.‭ ‬Purpose</h2>
            <p>A‭ ‬primary‭ ‬goal‭ ‬of‭ ‬Superrr ‬is‭ ‬to‭ ‬be‭ ‬inclusive‭ ‬to‭ ‬the‭ ‬largest‭ ‬number‭ ‬of‭ ‬contributors,‭ ‬with‭ ‬the‭ ‬most‭ ‬varied‭ ‬and‭ ‬diverse‭ ‬backgrounds‭ ‬possible.‭ ‬As‭ ‬such,‭ ‬we‭ ‬are‭ ‬committed‭ ‬to‭ ‬providing‭ ‬a‭ ‬friendly,‭ ‬safe‭ ‬and‭ ‬welcoming‭ ‬environment‭ ‬for‭ ‬all,‭ ‬regardless‭ ‬of‭ ‬gender,‭ gender identity, ‬sexual‭ ‬orientation,‭ ‬ability,‭ ‬ethnicity,‭ ‬socioeconomic‭ ‬status,‭ ‬and‭ ‬religion‭ (‬or‭ ‬lack‭ ‬thereof‭)‬.‭
                This‭ ‬code‭ ‬of‭ ‬conduct‭ ‬outlines‭ ‬our‭ ‬expectations‭ ‬for‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ ‬our‭ ‬community,‭ ‬as‭ ‬well‭ ‬as‭ ‬the‭ ‬consequences‭ ‬for‭ ‬unacceptable‭ ‬behavior.
                We‭ ‬invite‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ Superrr ‬to‭ ‬help‭ ‬us‭ ‬create‭ ‬safe‭ ‬and‭ ‬positive‭ ‬experiences‭ ‬for‭ ‬everyone.
                </p>
            <p>Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society. Superrr is a meet up for women* – and we take a broad definition of what that means. With Superrr, we seek to provide a space for anyone not identifying as a cis-gendered man, to meet together. We build trust in our community by making it invite-only, asking existing attendees to invite others they think would benefit from the meetup and bring positive contributions.</p>
            <h2>3.‎ ‏Expected‭ ‬Behavior</h2>
            <p>
                <ul>
                    <li>Participate‭ ‬in‭ ‬an‭ ‬authentic‭ ‬and‭ ‬active‭ ‬way.‭ ‬In‭ ‬doing‭ ‬so,‭ ‬you‭ ‬contribute‭ ‬to‭ ‬the‭ ‬health‭ ‬and‭ ‬longevity‭ ‬of‭ ‬this‭ ‬community.</li>
                    <li>Exercise‭ ‬consideration‭ ‬and‭ ‬respect‭ ‬in‭ ‬your‭ ‬speech‭ ‬and‭ ‬actions.</li>
                    <li>Attempt‭ ‬collaboration‭ ‬before‭ ‬conflict.</li>
                    <li>Refrain‭ ‬from‭ ‬demeaning,‭ ‬discriminatory,‭ ‬or‭ ‬harassing‭ ‬behavior‭ ‬and‭ ‬speech.</li>
                    <li>Be‭ ‬mindful‭ ‬of‭ ‬your‭ ‬surroundings‭ ‬and‭ ‬of‭ ‬your‭ ‬fellow‭ ‬participants.‭ ‬Alert‭ ‬community‭ ‬leaders‭ ‬if‭ ‬you‭ ‬notice‭ ‬a‭ ‬dangerous‭ ‬situation,‭ ‬someone‭ ‬in‭ ‬distress,‭ ‬or‭ ‬violations‭ ‬of‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct,‭ ‬even‭ ‬if‭ ‬they‭ ‬seem‭ ‬inconsequential.</li>
                </ul>
            </p>
            <h2>4.‎ ‏Unacceptable‭ ‬Behavior</h2>
            <p>Unacceptable‭ ‬behaviors‭ ‬include:‭ ‬intimidating,‭ ‬harassing,‭ ‬abusive,‭ ‬discriminatory,‭ ‬derogatory‭ ‬or‭ ‬demeaning‭ ‬speech‭ ‬or‭ ‬actions‭ ‬by‭ ‬any‭ ‬participant‭ ‬in‭ ‬our‭ ‬community‭ ‬online,‭ ‬at‭ ‬all‭ ‬related‭ ‬events‭ ‬and‭ ‬in‭ ‬one-on-one‭ ‬communications‭ ‬carried‭ ‬out‭ ‬in‭ ‬the‭ ‬context‭ ‬of‭ ‬community‭ ‬business.‭ ‬Community‭ ‬event‭ ‬venues‭ ‬may‭ ‬be‭ ‬shared‭ ‬with‭ ‬members‭ ‬of‭ ‬the‭ ‬public‭; ‬please‭ ‬be‭ ‬respectful‭ ‬to‭ ‬all‭ ‬patrons‭ ‬of‭ ‬these‭ ‬locations.
            Harassment‭ ‬includes:‭ ‬harmful‭ ‬or‭ ‬prejudicial‭ ‬verbal‭ ‬or‭ ‬written‭ ‬comments‭ ‬related‭ ‬to‭ ‬gender,‭ ‬sexual‭ ‬orientation,‭ ‬race,‭ ‬religion,‭ ‬disability‭; ‬inappropriate‭ ‬use‭ ‬of‭ ‬nudity‭ ‬and/or‭ ‬sexual‭ ‬images‭ ‬in‭ ‬public‭ ‬spaces‭ (‬including‭ ‬presentation‭ ‬slides‭); ‬deliberate‭ ‬intimidation,‭ ‬stalking‭ ‬or‭ ‬following‭; ‬harassing‭ ‬photography‭ ‬or‭ ‬recording‭; ‬sustained‭ ‬disruption‭ ‬of‭ ‬talks‭ ‬or‭ ‬other‭ ‬events‭; ‬inappropriate‭ ‬physical‭ ‬contact,‭ ‬and‭ ‬unwelcome‭ ‬sexual‭ ‬attention.</p>
            <h2>5.‎ ‏Consequences‭ ‬of‭ ‬Unacceptable‭ ‬Behavior</h2>
            <p>Unacceptable‭ ‬behavior‭ ‬from‭ ‬any‭ ‬community‭ ‬member,‭ ‬including‭ ‬sponsors‭ ‬and‭ ‬those‭ ‬with‭ ‬decision-making‭ ‬authority,‭ ‬will‭ ‬not‭ ‬be‭ ‬tolerated.
            Anyone‭ ‬asked‭ ‬to‭ ‬stop‭ ‬unacceptable‭ ‬behavior‭ ‬is‭ ‬expected‭ ‬to‭ ‬comply‭ ‬immediately. If‭ ‬a‭ ‬community‭ ‬member‭ ‬engages‭ ‬in‭ ‬unacceptable‭ ‬behavior,‭ ‬the‭ ‬community‭ ‬organizers‭ ‬may‭ ‬take‭ ‬any‭ ‬action‭ ‬they‭ ‬deem‭ ‬appropriate,‭ ‬up‭ ‬to‭ ‬and‭ ‬including‭ ‬a‭ ‬temporary‭ ‬ban‭ ‬or‭ ‬permanent‭ ‬expulsion‭ ‬from‭ ‬the‭ ‬community‭ ‬without‭ ‬warning‭ (‬and‭ ‬without‭ ‬refund‭ ‬in‭ ‬the‭ ‬case‭ ‬of‭ ‬a‭ ‬paid‭ ‬event‭)‬.</p>
            <h2>6.‎ ‏If‭ ‬You‭ ‬Witness‭ ‬or‭ ‬Are‭ ‬Subject‭ ‬to‭ ‬Unacceptable‭ ‬Behavior</h2>
            <p>If‭ ‬you‭ ‬are‭ ‬subject‭ ‬to‭ ‬or‭ ‬witness‭ ‬unacceptable‭ ‬behavior,‭ ‬or‭ ‬have‭ ‬any‭ ‬other‭ ‬concerns,‭ ‬please‭ ‬notify‭ your local meetup host as soon as possible – or if that is not possible,‭ Julia Kloiber or Zara Rahman.
            Additionally,‭ ‬meetup hosts  ‬are‭ ‬available‭ ‬to‭ ‬help‭ ‬community‭ ‬members‭ ‬engage‭ ‬with‭ ‬local‭ ‬law‭ ‬enforcement‭ ‬or‭ ‬to‭ ‬otherwise‭ ‬help‭ ‬those‭ ‬experiencing‭ ‬unacceptable‭ ‬behavior‭ ‬feel‭ ‬safe.‭ ‬In‭ ‬the‭ ‬context‭ ‬of‭ ‬in-person‭ ‬events,‭ ‬meetup hosts will‭ ‬also‭ ‬provide‭ ‬escorts‭ ‬as‭ ‬desired‭ ‬by‭ ‬the‭ ‬person‭ ‬experiencing‭ ‬distress.</p>
            <h2>7. Attribution</h2>
            <p>This Code of Conduct is based on the pdx.rb code of conduct and is also distributed under a Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license.</p>
            <h2>International Community</h2>
            <p>Whom to approach for international meetups:</p>
            <ul>
                <li><a href="#">Mariel, Rahel (Boston)</a></li>
                <li>Rebecca Williams (DC)</li>
                <li>Frederike (London)</li>
                <li>Nisha (Bangalore)</li>
                <li>Jennifer Baker (Brussels)</li>
                <li>Julia Manske (Mexico City)</li>
                <li>Yas Garcia (Buenos Aires)</li>
                <li>Abir bezüglich Beirut fragen</li>
                <li>Birgit Bachler (Neuseeland)</li>
                <li>Amani Nassem (Australien)</li>
                <li>Sarah (Code for Africa)</li>
                <li>Geraldine (wegen Afrika fragen)</li>
            </ul>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid %}