---
layout: ftf
title : Feminist Tech Blog
description : Demanding inclusive and radically diverse digital futures
type: fellows
---
<div class="row">
    <!-- include navigation -->
    <div class="section col-xs-24 blog">
        {% include partials/navigation.liquid page_type='fellows' contact_email=site.contact_email %}
        <div class="content-wrap blog content-block">
            <div class="blog-wrap">
                {% for post in site.posts %}
                <div class="blog-post fade-in">
                    <h2 class="post-headline"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p>By {{ post.author }} on {{ post.date | date_to_string }} </p>
                    <div class="post-content text-wrap">{{ post.excerpt }}</div>
                    <a class="event-link more-btn fellow animated fadeInUp full-visible" href="{{ post.url }}">
                        <span class="more-btn-inner"><span>Rrread more!</span></span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="fellows" %}




