---
layout: ftf
title : Contributors - Feminist Tech Fellows
description : Demanding inclusive and radically diverse digital futures
type: fellows
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap navigation-left-victim">
        <div class="section fullwidth bg-white  mobile-padded">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1>The Contributors</h1>
                <div>
                    <p>To create the feminist tech principles, visions, and the card deck, Superrr Lab worked together with the following activists, policymakers, writers, designers, technologists, researchers, and educators (in alphabetical order by first name):
                    </p>
                </div>
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner">
                <div class="contributors-holder my-5 py-5">
                    <!-- include contributors -->
                    {% assign contributors = site.contributors | sort: 'title' %}
                    {% for item in contributors %}
                    {% assign tags = item.tags | join:' ' %}
                    {% assign tags = "" | append:tags %}
                    {% assign index = forloop.index0 %}
                    {% include sections/contributor-teaser.liquid item=item index=index %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



