---
layout: ftf
title : Feminist Tech Visions
description : Demanding inclusive and radically diverse digital futures
type: fellows
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap mb-0 navigation-left-victim">
        <div class="section fullwidth bg-white mobile-padded">
            <div class="intro-wrap text-wrap content-block">
                <div class="content-wrap-inner shrinked">
                    <h1>The Feminist Tech Visions</h1>
                    <div>
                        <p> 
                            To make the Feminist Tech Principles more tangible and accessible to a wider audience, our contributors Camila Nobrega, Neema Githere, R. Buse Çetin, Chinmayi SK, Vanessa Opoku and Safa Ghnaim turn to storytelling by developing a set of future narratives. They aim to envision more just technological futures based on selected Principles. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- include visions -->
        {% assign visions = site.visions | sort: 'order' %}
        {% assign index = 0 %}
        {% for item in visions %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        {% include sections/vision-teaser-left.liquid type="left" item=item index=index %}
        {% else %}
        {% include sections/vision-teaser-left.liquid type="right" item=item index=index %}
        {% endif %}
        {% assign index = index | plus: 1 %}
        {% if index == 3 %}
            {% assign index = 0 %}
        {% endif %}
        {% endfor %}

    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



