---
layout: default
title : Superrr Lab
description : Demanding inclusive and radically diverse digital futures
type: lab
---
<div class="row">
    <div class="section fullheight header-spacer"></div>
</div>
<div class="scroll-hint-wrap">
    <div class="scroll-hint fellows up-and-down">SCRRROLL</div>
</div>
<div class="row">
    <!-- include navigation -->
    <div class="section col-xs-24">

        {% include partials/navigation.liquid page_type='lab' contact_email=site.contact_email %}

        <div class="content-wrap intro-wrap text-wrap content-block fade-in">
            <div>
                <p>Superrr Lab is a feminist think tank and consultancy. We help public and private entities in developing ethical technology.</p>
                <p>Currently, we are running the first round of the <a href="http://superrr.net/feministtech/">Feminist Tech Fellowship</a>. Together with the Mozilla Foundation, we are exploring how feminist ideas can improve technology research. We support artist, writers and activists to explore alternative futures.</p>
                <p>We also hosts a bi-monthly series of <a href="http://superrr.net/city/berlin">meetups in Berlin</a> for women* who work in art, science or who otherwise want to make the world a better place.</p>
                <h3 id="about-us">About Us</h3>
                <p><a href="http://elisalindinger.de">Elisa Lindinger</a> is the director of <a href="https://prototypefund.de/">Prototype Fund</a>. As a trained archaeologist, Elisa has worked at the intersection of culture and computer science.</p>
                <p><a href="http://juliakloiber.com">Julia Kloiber</a> is the Co-Founder of <a href="https://prototypefund.de/">Prototype Fund</a> and the Superrr network. Previously, Julia worked with the <a href="http://mozillafoundation.com">Mozilla Foundation</a>,  <a href="https://okfn.de">Open Knowledge Foundation Germany</a> and as Consultant for <a href="https://www.theengineroom.org/">The Engine Room</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="lab" %}
<script>
    var is_frontpage = true;
</script>



