---
layout: default
title : Superrr Lab
description : Demanding inclusive and radically diverse digital futures
type: lab
---
<div class="row">
    <div class="section fullheight header-spacer"></div>
</div>
<div class="scroll-hint-wrap">
    <div class="scroll-hint fellows up-and-down">SCRRROLL</div>
</div>
<div class="row">
    <!-- include navigation -->
    <div class="section col-xs-24">

        {% include partials/navigation.liquid page_type='lab' contact_email=site.contact_email %}

        <div class="content-wrap intro-wrap text-wrap content-block fade-in">
            <div>
                <h1>Headline</h1>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            <p>Brought to you by <a href="http://superrr.net/">Superrr</a> with support from <a href="https://foundation.mozilla.org/en/" target="_blank">Mozilla</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap text-wrap content-block fade-in" style="padding-top: 0;">
    <div>
        <h1>Why Feminist Tech Fellows?</h1>
        <p>Bias in machine learning, <a href="https://twitter.com/j_kloiber" target="_blank">Julia Kloiber</a> online harassment, technologies that are a threat to minorities, … we are surrounded by headlines that point out that tech is a field dominated by a small rather privileged group of people. This comes with a lot of problems and challenges. The needs of large groups of people are not taken into account, tools get mainstreamed to work for the mass market, bias gets amplified; discrimination is real.
            The internet arrived with the promise that everyone is free to create and access information online. In times of centralization and big tech this promise is corrupted.
        </p>
        <ul>
            <li>Mentorship by experts from the <a href="http://superrr.net/">Superrr</a> network</li>
            <li>A stipend of $3000 per project</li>
            <li>Outreach and campaigning</li>
        </ul>
        <p>We are surrounded by many dystopian narratives about the future: machines will take over, singularity is near, privacy is dead, ... Many of these narratives from science fiction and industry feel like self-fulfilling prophecies.</p>
        <p>Superrr aims to come up with alternative, feminist, inclusive stories and tools that counter mainstream narratives and norms. With artists, technologists and writers we want to explore what feminist technology can look like. We want to inspect how technology can help people to express themselves. Our goal are futures in which people of all genders and cultural backgrounds, are supported to influence and create tools and concepts for digital interactions.</p>
        <p>We want futures. Plural. There is no one future, but many different futures. We see diversity as an asset that can help us to develop better technology that enhances our skills.</p>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="lab" %}
<script>
    var is_frontpage = true;
</script>



