---
layout: default
title : Superrr Lab
description : Demanding inclusive and radically diverse digital futures
type: lab
---
<div class="row">
    <div class="section fullheight header-spacer"></div>
</div>
<div class="scroll-hint-wrap">
    <div class="scroll-hint fellows up-and-down">SCRRROLL</div>
</div>
<div class="row">
    <!-- include navigation -->
    <div class="section col-xs-24">

        {% include partials/navigation.liquid page_type='lab' contact_email=site.contact_email %}

        <div class="content-wrap intro-wrap text-wrap content-block fade-in">
            <div>
                 <h3 id="about-us">About the Lab</h3>
                <p>Superrr Lab is a feminist think tank and consultancy. We help public and private entities in developing ethical technology.</p>
                <p>Currently, we are running the first round of the <a href="http://superrr.net/feministtech/">Feminist Tech Fellowship</a>. Together with the Mozilla Foundation, we are exploring how feminist ideas can improve technology research. We support artist, writers and activists to explore alternative futures.</p>
                <p>We also hosts a bi-monthly series of <a href="http://superrr.net/city/berlin">meetups</a> for women* who work in art, science or who otherwise want to make the world a better place.</p>
                <h3 id="about-us">About the team</h3>
                <p>Superrr Lab was founded in 2019 by Elisa Lindinger and Julia Kloiber.

                <p><a href="http://elisalindinger.de">Elisa Lindinger</a> is the director of <a href="https://prototypefund.de/">Prototype Fund</a>. As a trained archaeologist, Elisa has worked at the intersection of culture and computer science. She has consulted open source and open infrastructure communities and and organized and facilitated conferences and event series.</p>
                <p><a href="http://juliakloiber.com">Julia Kloiber</a> is the Co-Founder of <a href="https://prototypefund.de/">Prototype Fund</a> and the Superrr network. Previously, Julia worked with the <a href="http://mozillafoundation.com">Mozilla Foundation</a>,  <a href="https://okfn.de">Open Knowledge Foundation Germany</a> and as Consultant for <a href="https://www.theengineroom.org/">The Engine Room</a>. In her work she is investigating emerging technologies and their influence on society. Julia enjoys growing open communities and applying creative solutions to difficult problems. </p>
                <h3 id="about-us">Projects we've worked on</h3>
                <p><a href="https://prototypefund.de/en/">Prototype Fund</a> – Germanies first public open source funding program for individuals. </a></p>
                <p><a href="https://www.fordfoundation.org/ideas/equals-change-blog/posts/announcing-13m-in-funding-for-digital-infrastructure-research/">Implicit Development Environments Research Group</a> – Digital Infrastructure Reserach supported by the Ford Foundation. </a></p>
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="lab" %}
<script>
    var is_frontpage = true;
</script>



