$fontsize-70: 3rem !important;

body.feminist-tech {
  .intro-wrap {
    padding-top: 120px;
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/
.section {

  &.fit-to-content-mobile {
    height: 100vh;
  }

  &.city-teaser{
    padding: 75px 0;
  }

}

.intro-wrap{
  padding-top: 150px;
}
.intro-text a, .intro-text p {
  font-size: 1.5rem !important;
}
a, p, li, h4 {
  font-size: 1.5rem;
}
.text-content{
  padding-bottom: 100px;
  &:last-of-type{
    padding-bottom: 0;
  }
}

/*********************
PAGE & SECTIONS
*********************/

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {
  font-size: 4vw;
}

h2, .h2 {
  font-size: 3.75vw;
}

h3, .h3 {
  font-size: 3.5vw;
}

h4, .h4 {
  font-size: 3.25vw;
}

h5, .h5 {
  font-size: 3vw;
}

h6, .h6 {
  font-size: 1rem;
}



.text-block{

  margin: 100px auto;
  padding: 100px;
}

.content-wrap-inner{

  &.shrinked{
    width: 650px;
  }

  &.blog{
    width: 85%;
    max-width: 70vw;
    padding-left: 60px;
    margin: 50px 0 100px 0;
    &.single{
      margin: 0 auto;
      padding-left: 0;
    }
  }

}

.ftf-quote {
  margin: 100px 0;
}

/*********************
HEADER STYLES
*********************/
.header {
  &.frontpage {
    .logo-inner {
      padding-left: 3vw;
    }
  }
}

.ftf-quote {
  blockquote {
    font-size: 1.75rem;
    span {
      font-size: 1.75rem;
    }
  }
}

/*********************
MAIN NAV
*********************/

ul.main-nav {
  li {

  }
}

/*********************
HOME
*********************/
.city-teaser-wrap{
  display: flex;
  div{
    flex:1;
  }
}
/*********************
CITY
*********************/
.right{
  .batch-wrap{
    &.fellows{
      .batch-svg{
        transform: translate(-50%,-50%);
        left: 0;
        top:0;
        right: auto;
      }
    }
  }
}

.single-text-content {
  width: 70%;
  margin: 30% 0 100px 0;
}

.batch-wrap{
  &.city{
    padding: 70px 50px 0 50px;
  }

  &.fellows {

    width: 50%;
    margin: 0 auto;
    padding: 50px 0;

    .batch-svg {
      position: absolute;
      z-index: 2;
      width: 50%;
      transform: translate(50%, -50%);
      right: 0;
      left:auto;
      top:0;
    }
  }

}

.city-wrap{
  padding: 50px 50px 50px 0px;
  text-align: left;
}

.event-info-wrap{

  width: 70%;

  .event-intro{
    font-size: 3rem;
  }
  .event-date{
    font-size: 4.25rem;
  }
  .event-tags{
    font-size: 2rem;
  }
}

.event-info-wrap{
  display: inline-block;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  position: absolute;
  text-align: left;
  padding: 0;
}

.join-event{
  text-align: left;
  padding: 50px 0;
}

.scroll-hint-wrap {
  .scroll-hint {
    bottom: 10px;
  }
}


/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section {
  &.home {
    padding-top: 50px;
  }
}

.landing-teaser{
  height:100vh;
}

.project-headline{
  font-size: $fontsize-70;
}

.projects-wrap {
  .project-teaser {
    margin-bottom: 150px;
  }
}

.landing-impressum{
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  left: auto;
  right: 25px;
  transform: translateX(0%);
}

.loader{
  font-size: 5vw;
}

.more-btn-wrap{
  text-align: left;
}

/*********************
CITY
*********************/

.event-info-wrap {
  &.vision {
    position: relative;
  }
}
.event-date{
  font-size: 4rem;
}
.event-hosts{
  &.fellows{
    text-align: center;
  }

}

/*********************
FOOTER STYLES
*********************/

.footer {

  .newsletter-wrap {
    padding-top: 150px;
  }

  .social {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: inline-block;
    padding: 0;
  }
  .impressum-link{
    position: absolute;
    right: 25px;
    bottom: 25px;
    left:auto;
    transform: translateX(0%);
  }
  .newsletter-wrap{
    form{
      h2{
        font-size: 4em;
        margin-bottom: 25px;
      }
      input[type="email"],input[type="text"]{
        font-size: 3em;
        width: 100%;
        height: 75px;
      }
      .error-message, .success-message, .mc-status{
        font-size: 2.25em;
      }
      .button {
        font-size: 1.75em;
      }
    }
  }
}

.ftf-wrap{
  .content-wrap{
    width: 800px;
  }
}

.card-holder {
  .card {
    .teaser-card-inner {
      height: 538px;
      .teaser-card-image {
        background-size: contain;
      }
    }
  }
}
