/*********************
LAYOUT & GRID STYLES
*********************/
.section {

  &.fit-to-content-mobile {
    height: 100vh;
  }

  &.city-teaser{
    padding: 75px 0;
  }

}

/*********************
PAGE & SECTIONS
*********************/
a, p, li {
  font-size: 1.6rem;
}
blockquote{
  font-size: 4rem;
}
p {
  line-height: 1.6em;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/


h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 0.846rem;
}

.text-block{

  margin: 100px auto;
  padding: 100px;
}

.content-wrap{
  width: 800px;

  &.shrinked{
    width: 650px;
  }

  &.blog{
    width: 85%;
    max-width: 70vw;
    padding-left: 60px;
    margin: 50px 0 100px 0;
    &.single{
      margin: 0 auto;
      padding-left: 0;
    }
  }

}

/*********************
HEADER STYLES
*********************/
.header {
  &.frontpage {
    .logo-inner {
      padding-left: 3vw;
    }
  }
}

/*********************
MAIN NAV
*********************/

ul.main-nav {
  li {

  }
}

/*********************
HOME
*********************/
.city-teaser-wrap{
  display: flex;
  div{
    flex:1;
  }
}
/*********************
CITY
*********************/
.right{
  .batch-wrap{
    &.fellows{
      .batch-svg{
        transform: translate(-50%,-50%);
        left: 0;
        top:0;
        right: auto;
      }
    }
  }
}
.batch-wrap{
  padding: 0px 50px 50px 50px;
  &.city{
    padding: 70px 50px 0 50px;
  }
  &.fellows {
    .batch-svg {
      position: absolute;
      z-index: 2;
      width: 25%;
      transform: translate(50%, -50%);
      right: 0;
      left:auto;
      top:0;
    }
  }

}

.city-wrap{
  padding: 50px 50px 50px 0px;
  text-align: left;
}

.event-info-wrap{

  width: 70%;

  .event-intro{
    font-size: 3rem;
  }
  .event-date{
    font-size: 4.25rem;
  }
  .event-tags{
    font-size: 2rem;
  }
}

.event-info-wrap{
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: left;
  padding: 0;
}
.left{
  .event-info-wrap{
    left: 0%;
    transform: translate(0%,-50%);
  }
}

.join-event{
  text-align: left;
  padding: 50px 0;
}

.more-btn{
  font-size: 2.25rem !important;
}

.scroll-hint-wrap {
  .scroll-hint {
    bottom: 10px;
  }
}


/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section{

}

/*********************
CITY
*********************/

.event-info-wrap {

}
.event-date{
  font-size: 4rem;
}
.event-hosts{
  &.fellows{
    text-align: center;
  }

}

/*********************
BLOG
*********************/

.blog-post{
  .post-headline, .post-headline a{
    font-size: 4rem;
    transform: translateX(-6px);
  }
  .post-headline{
    margin-bottom: 40px;
  }

  margin-bottom: 150px;
}

/*********************
FOOTER STYLES
*********************/

.footer {

  .newsletter-wrap {
    padding-top: 150px;
  }

  .social {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: inline-block;
    padding: 0;
  }
  .impressum-link{
    position: absolute;
    right: 25px;
    bottom: 25px;
    left:auto;
    transform: translateX(0%);
  }
  .newsletter-wrap{
    form{
      h2{
        font-size: 4em;
        margin-bottom: 25px;
      }
      input[type="email"],input[type="text"]{
        font-size: 3em;
        width: 100%;
        height: 75px;
      }
      .error-message, .success-message, .mc-status{
        font-size: 2.25em;
      }
      .button {
        font-size: 1.75em;
      }
    }
  }
}
