/*********************
FONTSIZES
*********************/

$fontsize-120: 6.5vw !important;
$fontsize-50: 2.75rem !important;
$fontsize-40: 2rem !important;
$fontsize-28: 1.75rem !important;
$fontsize-24: 1.5rem !important;
$fontsize-22: 1.375rem !important;
$fontsize-70: 3rem !important;

.fontsize-120 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-70 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-70;
  }
  font-size: $fontsize-70;
}


.fontsize-50 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}
.fontsize-40 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}
.fontsize-28 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-28;
  }
  font-size: $fontsize-28;
}
.fontsize-24 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-24;
  }
  font-size: $fontsize-24;
}
.fontsize-22 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-22;
  }
  font-size: $fontsize-22;
}

.section-headline {
  padding: 75px;
  font-size: $fontsize-70;
  a {
    font-size: $fontsize-70;
  }
}

/*********************
HEADER STYLES
*********************/
.header{
  .logo{
    font-size: 6vw;
  }
}

.project-headline{
  font-size: $fontsize-70;
}

/*********************
PAGE & SECTIONS
*********************/

.content-wrap-inner{

  &.shrinked{
    width: 750px;
  }
  &.expanded{
    width: 90%;
  }
  &.half {
    width: 70%;
    max-width: 1600px;
  }

}

.more-btn{
  font-size: $fontsize-28;
}

/*********************
CITY
*********************/

.event-date{
  font-size: 4.7rem;
}

.posts-holder{
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /*grid-auto-rows: 1fr;*/

  &.home {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .post-teaser{
    padding: 0 50px;
    margin-bottom: 50px;
  }
}

.card-holder {

  scroll-padding: calc(50% - 956px / 2);

  &::before, &:after{
    width: calc(50% - 956px / 2);
  }

  .card {
    scroll-snap-align: start;
    width: calc(calc(956px - calc(#{$cards-per-column} - 1) * #{$row-gap}) / #{$cards-per-column});

    &.vision {

      width: calc(calc(965px - calc(#{$cards-per-column} - 1) * #{$row-gap}) / #{$cards-per-column});

      .teaser-card-inner{
        height: 578px;
      }
    }

  }
}