/*********************
HEADER STYLES
*********************/
.header {
  &.frontpage {
    .logo-inner {
      padding-left: 4vw;
    }
  }
}

/*********************
MAIN NAV
*********************/

ul.main-nav{
  li {

  }
}

/*********************
BLOG
*********************/

.content-wrap-inner{
  &.blog{
    max-width: 60vw;
  }
  &.expanded{
    width: 80%;
  }
}


/*********************
FOOTER STYLES
*********************/

.footer {
  .footer-inner {
    .footer-content {
      a {

      }
    }
  }
}
