/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {
  font-size: rem(70);
}

h2, .h2 {
  font-size: rem(42);
}

h3, .h3 {
  font-size: rem(36);
}

a, p, li, h4 {
  font-size: 1.25rem;
}

/*********************
HEADER STYLES
*********************/
.header{
  .logo{
    font-size: 4vw;
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

.content-wrap-inner {
  &.shrinked {
    width: 780px;
  }
}

/* see partials/_bootstrap-grid24.scss */

.section {

  &.first {
    padding-top: 75px;
  }

  &.city-teaser{
    padding: 0;
  }

  &.image {
    .content-wrap-inner {
      width: 100%;
    }
  }

}

/*********************
PAGE & SECTIONS
*********************/

blockquote{

}
p {

}

/*********************
FELLOWS
*********************/

/*
.fellows{
  a, p, li {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
*/

.fellow-name, .fellow-project-name{
  font-size: 2.5rem;
}

.batch-wrap {
  &.city.fellows {
    padding: 60px 0px 0 60px;
  }
  &.fellows {
    .batch-svg {
      width: 40%;
    }
  }
}

/*********************
CITY
*********************/

.batch-wrap{

  &.fellows {
    width: 50%;
    margin: 0 auto;
    padding: 90px 0;+
    .batch-svg {
      width: 33%;
    }
  }

  &.city{
    padding: 50px 0 0 100px;
  }
}

.city-wrap{
  padding: 50px 100px 50px 0px;
}

.event-info-wrap{

  width: 70%;

  .event-intro{
    font-size: 3.5rem;
  }
  .event-date{
    font-size: 5rem;
  }
  .event-tags{
    font-size: 2.5rem;
  }
}

/*********************
FOOTER STYLES
*********************/

.footer {


  .newsletter-wrap{
    form{
      h2{

      }
      input[type="email"],input[type="text"]{
        height: 100px;
      }
      .error-message, .success-message, .mc-status{

      }
      .button {

      }
    }
  }
}



