body.feminist-tech {
  .intro-wrap {
    padding-top: 100px;
  }
}

.ftf-quote {
  blockquote {
    font-size: 2rem;
    span {
      font-size: 2rem;
    }
  }
}

/*********************
BLOG
*********************/

.content-wrap-inner{
  &.blog{
    max-width: 50vw;
  }
}

/*********************
CITY
*********************/
.batch-wrap {
  &.fellows {
    width: 50%;
    margin: 0 auto;
    padding: 120px 0;
  }
}

.city-wrap{
  padding: 50px 150px 50px 0px;
}

.event-info-wrap{

  &.vision {
    padding-top: 145px;
  }

  width: 70%;

  .event-intro{
    font-size: 3.75rem;
  }
  .event-date{
    font-size: 6rem;
  }
  .event-tags{
    font-size: 2.75rem;
  }
}

