/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {
  font-size: 4vw;
}

h2, .h2 {
  font-size: 3.75vw;
}

h3, .h3 {
  font-size: 3.5vw;
}

h4, .h4 {
  font-size: 3.25vw;
}

h5, .h5 {
  font-size: 3vw;
}

h6, .h6 {
  font-size: 1rem;
}

body.feminist-tech {
  .intro-wrap {
    padding-top: 100px;
  }
}

.ftf-quote {
  blockquote {
    font-size: 2rem;
    span {
      font-size: 2rem;
    }
  }
}

/*********************
BLOG
*********************/

.content-wrap-inner{
  &.blog{
    max-width: 50vw;
  }
}

/*********************
CITY
*********************/
.batch-wrap {
  &.fellows {
    width: 50%;
    margin: 0 auto;
    padding: 120px 0;
  }
}

.city-wrap{
  padding: 50px 150px 50px 0px;
}

.event-info-wrap{

  &.vision {
    padding-top: 145px;
  }

  width: 70%;

  .event-intro{
    font-size: 3.75rem;
  }
  .event-date{
    font-size: 6rem;
  }
  .event-tags{
    font-size: 2.75rem;
  }
}

