/*********************
CITY
*********************/
.batch-wrap{
  padding: 125px;
}
.city-wrap{
  padding: 50px 150px 50px 0px;
}

.event-info-wrap{

  width: 70%;

  .event-intro{
    font-size: 3.75rem;
  }
  .event-date{
    font-size: 6rem;
  }
  .event-tags{
    font-size: 2.75rem;
  }
}
.more-btn{
  font-size: 3.25rem !important;
}

