$fontsize-70: 4.5rem !important;

.section-headline {
  font-size: $fontsize-70;
  a {
    font-size: $fontsize-70;
  }
}

.project-headline{
  font-size: $fontsize-70;
}

.ftf-quote {
  blockquote {
    font-size: 2.25rem;
    span {
      font-size: 2.25rem;
    }
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

body.feminist-tech {
  h1, .h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}

h1, .h1 {
  font-size: 2.75rem;
}

.section {

  &.first {
    padding-top: 100px;
  }
}

/*********************
HOME
*********************/
.intro-text{
  font-size: 2rem !important;
}


/*********************
CITY
*********************/

.batch-wrap{
  &.fellows {
    width: 50%;
    margin: 0 auto;
    padding: 150px 0;
    .batch-svg {
      width: 50%;
    }
  }
  &.city{
    padding: 50px 50px 0 200px;
  }
}

.event-info-wrap{

  width: 70%;

  .event-intro{
    font-size: 4.25rem;
  }
  .event-date{
    font-size: 6.5rem;
  }
  .event-tags{

  }
}