.content-wrap{
  width: 85%;
}

h1, .h1 {
  font-size: 2rem;
}

/*********************
MAIN NAV
*********************/

.navigation-left-open-wrap {
  left: 375px;
}
.navigation-left-wrap {
  &.closed {
    transform: translateX(-375px);
  }
  width: 375px;
}
.content-wrap, .footer-wrap{
  &.nav-open{
    transform: translateX(375px);
  }
}

.navigation-wrap{
  ul.main-nav{
    li{
      a{
        font-size: 1.25rem;
        padding: 4px 5px 4px 5px;
      }
    }
  }
}
