/*********************
FONTSIZES
*********************/

$fontsize-120: 2.8rem !important;
$fontsize-70: 2.2rem !important;
$fontsize-50: 1.8rem !important;
$fontsize-40: 1.5rem !important;
$fontsize-28: 1.4rem !important;
$fontsize-24: 1.4rem !important;
$fontsize-22: 1.25rem !important;

.fontsize-120 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-70 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-70;
  }
  font-size: $fontsize-70;
}


.fontsize-50 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}
.fontsize-40 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}
.fontsize-28 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-28;
  }
  font-size: $fontsize-28;
}
.fontsize-24 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-24;
  }
  font-size: $fontsize-24;
}
.fontsize-22 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-22;
  }
  font-size: $fontsize-22;
}



/*********************
MAIN NAV
*********************/

.navigation-left-open-wrap {
  left: 363px;
}
.navigation-left-wrap {
  transform: translateX(-363px);
  width: 363px;
  .community-batch-wrap{
    width: 50%;
  }
}
.navigation-left-victim{
  &.nav-open{
    transform: translateX(363px);
  }
}

.navigation-wrap{
  ul.main-nav{
    li{
      a{
        font-size: 1.25rem;
        padding: 4px 5px 4px 5px;
      }
    }
  }
}

.ftf-wrap{
  .content-wrap{
    width: 85%;
  }
}

.card-holder .card .teaser-card-inner {
  height: 500px;
}
