/*********************
HEADER STYLES
*********************/
.header{
  .logo{
    font-size: 8vw;
  }
}

/*********************
MAIN NAV
*********************/

ul.main-nav{
  li{
    a{
      font-size: 1.4rem;
      padding: 4px 5px 4px 5px;
    }
  }
}