/*********************
FONTSIZES
*********************/

$fontsize-120: 3.7rem !important;
$fontsize-70: 3rem !important;
$fontsize-50: 2.25rem !important;
$fontsize-40: 1.5rem !important;
$fontsize-28: 1.4rem !important;
$fontsize-24: 1.4rem !important;
$fontsize-22: 1.25rem !important;

.fontsize-120 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-70 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-70;
  }
  font-size: $fontsize-70;
}


.fontsize-50 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}
.fontsize-40 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}
.fontsize-28 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-28;
  }
  font-size: $fontsize-28;
}
.fontsize-24 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-24;
  }
  font-size: $fontsize-24;
}
.fontsize-22 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-22;
  }
  font-size: $fontsize-22;
}


/*********************
HEADER STYLES
*********************/
.header{
  .logo{
    font-size: 8vw;
  }
}

/*********************
MAIN NAV
*********************/

.navigation-left-open-wrap {
  left: 414px;
}
.navigation-left-wrap {
  transform: translateX(-414px);
  width: 414px;
}
.navigation-left-victim{
  &.nav-open{
    transform: translateX(414px);
  }
}

.navigation-wrap{
  ul.main-nav{
    li{
      a{
        font-size: 1.4rem;
        padding: 4px 5px 4px 5px;
      }
    }
  }
}

/*********************
PAGE & SECTIONS
*********************/

.content-wrap-inner{
  &.full{
    width: 100%;
    padding: 0 2rem;
    max-width: none;
  }
}

