/*********************
FONTSIZES
*********************/

$fontsize-120: 4.25rem !important;
$fontsize-70: 3rem !important;
$fontsize-50: 2.25rem !important;
$fontsize-40: 1.6rem !important;
$fontsize-28: 1.6rem !important;
$fontsize-24: 1.6rem !important;
$fontsize-22: 1.5rem !important;

.fontsize-120 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-70 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-70;
  }
  font-size: $fontsize-70;
}


.fontsize-50 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}
.fontsize-40 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}
.fontsize-28 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-28;
  }
  font-size: $fontsize-28;
}
.fontsize-24 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-24;
  }
  font-size: $fontsize-24;
}
.fontsize-22 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-22;
  }
  font-size: $fontsize-22;
}


/*********************
HEADER STYLES
*********************/
.header{
  .logo{
    font-size: 7vw;
    .logo-inner{
      padding-left: 2vw;
    }
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section {
  &.first {
    padding-top: 50px;
  }
  &.mobile-padded{
    /* for menu mobile top padding*/
    padding: 100px 0 0 0 !important;
  }
}

/*********************
PAGE & SECTIONS
*********************/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {
  font-size: 4rem;
}

h2, .h2 {
  font-size: 3.25rem;
}

h3, .h3 {
  font-size: 2.75rem;
}

a, p, li, h4, table {
  font-size: 1.4rem;
}
blockquote{
  font-size: 3.25rem;
}

.section-headline {
  font-size: $fontsize-70;
  a {
    font-size: $fontsize-70;
  }
}

.page-wrap{

  .page-wrap{
    p{
      margin-bottom: 50px;
    }
  }

  ol, ul{
    li{
      padding-left: 50px;
    }
  }

}

.text-block{
  margin: 70px auto;
  padding: 50px;
}

.more-btn{
  font-size: $fontsize-28;
}

/*********************
MAIN NAV
*********************/
.navigation-left-wrap{
  .navigation-left-wrap-inner{
    margin: 2rem;

  }
}
.navigation-wrap{
  ul.main-nav {
    li {
      padding-right: 30px;
      display: inline-block;
      a{
        font-size: 1.75rem;
        padding: 4px 10px 4px 10px;
      }
    }
  }
}

/*********************
HOME
*********************/
.intro-text{
  font-size: 1.5rem !important;
  a, p{
    font-size: 1.5rem !important;
  }
}

/*********************
TALKS
*********************/

.talks-holder {
  margin-bottom: 75px;

  &__past {
    margin-bottom: 120px;
  }

}

/*********************
CITY
*********************/

.city-wrap{
  padding: 20px 50px;
}


.batch-wrap{
  &.city{
    padding: 20px 100px;
  }
}

.ftf-quote {
  margin: rem(75) 0;
  @include bordered-box();
  @include ftf-shadow();
  blockquote {
    padding: 20px ;
    font-size: 1.75rem;
    span {
      font-size: 1.75rem;
    }
  }
}

.card-holder {
  .card {
    .teaser-card-inner {
      height: 800px;
    }
  }
}

.event-info-wrap{
  .event-intro{
    font-size: 3.5rem;
  }
  .event-date{
    font-size: 5rem;
  }
  .event-tags{
    font-size: 3rem;
  }
}

/*********************
FOOTER STYLES
*********************/
.landing-impressum{
  font-size: 1.25rem;
}
.footer {
  .newsletter-wrap{
    form{
      input[type="email"],input[type="text"]{
        margin-bottom: 25px;
      }
      .button {
        padding: 15px 50px 15px 50px;
        width: auto;
      }
    }
  }
  ul.footer-links{

    bottom: 0;
    text-align: right;
    margin-bottom: 20px;
    display: inline-block;
    right: 25px;
    width: 100%;

    li{
      padding-left: 0;
      display: inline;
    }
  }
}

/*********************
CONTRIBUTORS
*********************/

.contributors-holder {
  .contributor {
    &-title {
      position: relative;
      &-text {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}

.content-wrap-inner {
  width: 90%;
  &.full{
    padding: 0;
    width: 90%;
  }
}

.home-icon-wrap{
  height: calc(20vh - 4vh);
}

.card-holder {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  margin-left: unset;
  margin-right: unset;
  padding-top: $line-height;
  padding-bottom: 100px;
  overflow-x: scroll;
  overflow-y: show;
  scroll-padding: calc(50% - 80vw / 2);
  scroll-snap-type: x mandatory;
  width: 100%;
  will-change: auto;

  &::before, &:after{
    content: '';
    display: block;
    height: 1px;
    flex-shrink: 0;
    width: calc(50% - 80vw / 2);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .card{

    width: calc(calc(70vw - calc(#{$cards-per-column} - 1) * #{$row-gap}) / #{$cards-per-column});

    .teaser-card-inner{

      height: 800px;
      display:block;
      background-color: white;
      position: relative;
      border-radius: 1.5rem;
      overflow: hidden;
      margin: 0 auto;

      .teaser-card-image{
        padding: 0;
        margin-bottom: 0;
        max-height: 60%;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .teaser-card-text{
        padding: 25px;
        p{
          margin-bottom: 2.5rem;
        }
      }
    }

    &.vision {
      border-radius: 0;
      background-color: transparent;
      overflow: unset;
      .teaser-card-inner{
        height: 960px;
        width: 100%;
        background-color: transparent;
        overflow: unset;

        .teaser-card-image {
          img {
            object-fit: contain;
            width: auto;
            height: 100%;
          }
        }

        .teaser-card-text{
          border-radius: 1.5rem;
          background-color: white;
          padding: 50px 25px;
        }
      };
    }

  }
}

