$main-column-width: 956px;

.section-headline{
  padding: 75px;
}

.organizations-wrap{

  a{
    margin: 20px 40px;
  }
}

.image-landscape{
  width: 120%;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -60%;
  margin-right: -60%;
  max-width: none;
}

.image-portrait{
  width: 80%;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -40%;
  margin-right: -40%;
  max-width: none;
}

.image-half {
  width: 50%;
  margin: 50px auto;
}

.section {

  &.padded{
    padding: 100px 0;
  }

  &.padded-top{
    padding: 100px 0 0 0;
  }

  &.padded-organisations{
    padding: 75px 0 100px 0 !important;
  }

}

.home-icon-wrap{
  height: calc(30vh - 4vh);
}

.navigation-left-open-wrap {
  padding-top: 1rem;
  position: absolute;
  top: 7px;
  padding-left: 1rem;
  cursor: pointer;
  width: auto;
  background-color: transparent;

  .nav-open-btn{
    margin-bottom: 2rem;
    width: 68px;
    height: 46px;
  }

}

.section .ftf-home {
  padding-top: 2.5rem;
}

.nav-close-btn{
  width: 46px;
  height: 46px;
}

.card-holder {

  scroll-padding: calc(50% - 956px / 2);

  &::before, &:after{
    width: calc(50% - 956px / 2);
  }

  .card {
    scroll-snap-align: start;
    width: calc(calc(956px - calc(#{$cards-per-column} - 1) * #{$row-gap}) / #{$cards-per-column});
    margin-right: 54px;

    .teaser-card-inner{
      height: 538px;
      .teaser-card-image{
        padding-top: 0;
        padding-bottom: 0;
        max-height: 100%;
      }
      .teaser-card-text{
        padding: 50px 40px;
      }
    }

  }
}

.more-btn {
  .more-btn-inner {
    &:after {
      width: 46px;
      height: 68px;
    }
  }
}

.posts-holder{
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /*grid-auto-rows: 1fr;*/

  .post-teaser{
    padding: 0 50px;
    margin-bottom: 100px;
  }
}


.newsletter-signup-wrap{
  margin-bottom: 10vw;
}

.footer {
  ul.footer-links li{
    .social-links {
      a {
        font-size: 1.75rem !important;
      }
    }
  }
}

.principles-intro {
  width: 80%;
}

