/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
FONTSIZES
*********************/

$fontsize-120: 2.75rem !important;
$fontsize-70: 2.5rem !important;
$fontsize-50: 2.25rem !important;
$fontsize-40: 1.5rem !important;
$fontsize-28: 1.4rem !important;
$fontsize-24: 1.4rem !important;
$fontsize-22: 1.25rem !important;

.fontsize-120 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-70 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-70;
  }
  font-size: $fontsize-70;
}


.fontsize-50 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}
.fontsize-40 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}
.fontsize-28 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-28;
  }
  font-size: $fontsize-28;
}
.fontsize-24 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-24;
  }
  font-size: $fontsize-24;
}
.fontsize-22 {
  p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-22;
  }
  font-size: $fontsize-22;
}

/*********************
END FONTSIZES
*********************/

body.feminist-tech {

  .intro-wrap {
    padding-top: 25px;
    h1{
      text-align: center;
    }
    p {
      text-align: center;
      &:last-of-type {
        /*margin-bottom: 0;*/
      }
    }
  }

  color: $color-ftf-lila;

  .fellow-name {
    color: $color-ftf-lila;
  }

  .teaser-card-image img {
    border-radius: 1.5rem !important;
    width: 100%;
    height: auto;
  }

  .page-wrap ul li:before {
    background-image: url($baseurl + "/assets/img/static/icons/arrow-red.svg");
  }
  .more-btn{
    &:before {
      background-image: url($baseurl + "/assets/img/static/icons/arrow-red.svg");
    }
  }
  .fellow-link a, .more-btn {
    &:after {
      display: none !important;
    }
  }

  .with-shadow {
    @include ftf-shadow();
    &.grey{
      -webkit-box-shadow: 0px 0px 40px -4px rgba(0,0,0,0.12);
      box-shadow: 0px 0px 40px -4px rgba(0,0,0,0.12);
      z-index: 1;
    }
  }

  .btn-link {
    color: $color-ftf-lila;
  }

  .content-wrap {
    a{

      line-height: 1;
      color: $color-ftf-lila;

      @include circle-link($color-ftf-green, 2px);

      background-color: transparent;

      &.more-btn {
        border-bottom-width: 0px !important;
      }

    }
    margin-bottom: 100px;
  }

  .text-wrap a {
    border-bottom: 0px solid $color-ftf-red;
    &:hover {
      border-bottom: 0px solid $color-ftf-red;
    }
  }

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $font-headline;
    text-transform: none !important;
  }

  .rounded-hover {
    &:hover {
      &:after {
        border: 1px solid $color-ftf-green;
      }
    }
  }
  *::selection {
    background: $color-ftf-lila;
    color: white;
  }
}

.accordion {
  .card {
    border: 0;
    background-color: white;
    border-radius: 30px;
    padding: 1rem;
    display: block;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    .card-header {
      border-bottom-width: 0;
      background-color: transparent;
    }

    .card-body{
      p:last-of-type {
        margin-bottom: 0;
      }
    }

    .btn-link {
      padding: 0;
      text-decoration: none !important;
    }

  }

}

/*********************
GENERAL STYLES
*********************/

html{
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  min-height: 100%;
  /*scroll-behavior: smooth;*/

  &.no-touch {
    .more-btn-wrap.news {
      display: none !important;
    }
  }

  &.ticker-hidden {
    .header-wrap {
      transform: translateY(-100%);
    }
    .page-wrap {
      padding-top: 0;
    }
  }

}

html, body{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.no-events{
  pointer-events: none;
}
.no-cursor{
  cursor: default;
}

body {

  @include custom-cursor();

  height: 100%;
  font-family: $font-regular;
  font-size: 100%;
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0px;

  overflow: hidden;
  opacity: 0;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: $third-color;

    &:hover{
      background-color: $third-color;
      @include custom-cursor-hover();
    }

  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
  }

}

/*********************
LAYOUT & GRID STYLES
*********************/

.content-wrap {
  width: 100%;
}

.section-headline{
  line-height: 1;
  font-size: $fontsize-70;
  a {
    font-size: $fontsize-70;
  }
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 25px 25px 35px 25px;
  margin-bottom: 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  &.link {
    max-width: none;
    text-align: left;
    padding-left: 0 !important;
    padding-right: 0 !important;

    a {
      text-decoration: none;
      border:0 !important;
      display: inline-flex;
    }

  }

}

.section{

  position: relative;
  display: block;

  .ftf-home {
    padding-top: 60px;
  }

  &.flex{
    display: flex;
  }

  &.image {
    padding-bottom: 75px;
    margin: 0 auto;

    .content-wrap-inner {
      width: calc(100% - 2rem);
      max-width: 1400px;
    }

  }

  &.mobile-padded{
     /* for menu mobile top padding*/
     padding: 75px 0 35px 0 !important;
   }

  &.padded {
    padding: 75px 0;
  }

  &.padded-top {
    padding: 75px 0 0 0;
  }

  &.padded-bottom {
    padding: 0 0 75px 0;
  }

  &.padded-organisations{
    padding: 37.5px 0 75px 0 !important;
  }

  &.home{
    padding-top: 20px;
  }

  &.landing{
    height: 100vh;
  }

  &.fullwidth{
    width:100%
  }
  &.fullheight{
    height: 100vh;
  }
  &.fit-to-content-mobile{
    height: auto;
  }
  &.city-teaser{
    height: auto;
    position: relative;
    .city-teaser-wrap{
      position: relative;
      max-width: 1920px;
      margin: 0 auto;
    }
  }

  &.min-fullheight{
    min-height: 88vh;
    height: auto;
  }

  &.fullheight.fit-to-mobile{
    min-height: 100%;
    margin-bottom: 50px;
  }

  &.background-0{
    background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary-color;
  }

  &.background-1{
    background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $secondary-color;
  }

  &.background-2{
    background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary-color;
  }

  &.background-3{
    background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $secondary-color;
  }

  &.background-4{
    background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary-color;
  }

  &.background-lab-community-front {
    background-image: url($baseurl + '/assets/img/static/backgrounds/lab/superrr_BG-community-lab-front.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $secondary-color;
  }

  &.background-lab-about {
    background-image: url($baseurl + '/assets/img/static/backgrounds/lab/Superrr-Lab-About-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary-color;
  }



  &.footer{
    background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG-footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary-color;
  }

  &.fellows{

    background-color: $background-color-fellow;

    &.background-0{
      background-image: url($baseurl + '/assets/img/static/backgrounds/fellows/ftf-bg-1.jpg');
    }

    &.background-1{
      background-image: url($baseurl + '/assets/img/static/backgrounds/fellows/ftf-bg-2.jpg');
    }

    &.background-2{
      background-image: url($baseurl + '/assets/img/static/backgrounds/fellows/ftf-bg-3.jpg');
    }

    &.background-3{
      background-image: url($baseurl + '/assets/img/static/backgrounds/fellows/ftf-bg-1.jpg');
    }

    &.background-4{
      background-image: url($baseurl + '/assets/img/static/backgrounds/fellows/ftf-bg-3.jpg');
    }

    &.footer{
      background-image: url($baseurl + '/assets/img/static/backgrounds/fellows/ftf-bg-3.jpg');
    }
  }

  &.lab{

    background-color: $background-color-lab;

    &.footer{
      background-image: url($baseurl + '/assets/img/static/backgrounds/lab/superrr_BG-footer-lab.jpg');
    }
  }


}

.project-headline{
  font-size: $fontsize-70;
  text-transform: uppercase;
  text-align: center;
}

.image-landscape, .image-portrait{
  width: 100%;
  height: auto;
}
.text-wrap{
  .image-landscape, .image-portrait{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
    text-decoration: none;
    @include custom-cursor-hover();
  }

  /* on click */
  &:active {
    color: $link-hover;
    @include custom-cursor-hover();
  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : transparent;
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  margin: 0 0 0.5em 0;
  font-weight: normal;
  font-family: $font-paelzer-grot-medium;
}

h1, .h1 {
  font-size: 2.75rem;
  line-height: 1.1em;
  margin-bottom: 2rem;
}

h2, .h2 {
  font-size: 2rem;
  line-height: 1.1em;
  margin-bottom: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

h5, .h5 {
  font-size: 0.846rem;
  line-height: 1.1;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}


/*********************
*********************/

table {
  width: 100%;

  thead tr td {
    padding-bottom: 20px;
    font-weight: normal;
    font-family: $font-paelzer-grot-medium;
    text-transform: uppercase;
  }

  tbody{
    tr {
      &:nth-child(odd) {
        background-color: $grey-light;
      }
    }
  }

  tr {
    td:last-of-type {
      text-align: right;
    }
  }
}

a, p, li, h4, table {
  font-size: 1.25rem;
}
blockquote{
  font-size: 2.75rem;
  margin: 2rem;
  font-family: $font-paelzer-grot-medium;
  color: $secondary-color;
  text-align: center;
}

p {
  margin-bottom: 2em;
  margin-top: 0;
  line-height: 1.4em;
}

.page-wrap{
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding-top: 12vh;

  @include transition(padding-top .25s ease);

  min-height: 100%;

  ol,ul{
    margin: 30px 0;

    li{
      margin-bottom: 10px;

      ul,ol{
        margin: 25px 0;
      }
    }

  }

  ul{

    list-style-type: none;

    li{

      position: relative;

      &:before{

        background-image: url($baseurl + '/assets/img/static/icons/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        width: 32px;
        height: 22px;
        display: inline-block;
        transform: translateY(2px);
        left:0;
      }


    }
  }

  ol{

    counter-reset: counter;

    li{
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;

      &:before {
        position: absolute;
        left:0;
        color: $third-color;
        content: counter(counter);
        counter-increment: counter;
        font-size: 1.5em;
        line-height: 1;
      }

    }

  }

}

.image{
  padding-bottom: 25px;
  display: table;

  .caption{
    margin-top: 5px;
    float: right;
  }
}

.landing{
  .landing-batch{
    position: absolute;
    pointer-events: none;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 40%;
  }
}
.landing-teaser{
  background-size: cover;
  height: 50vh;
}
.landing-teaser-left{
  background-image: url($baseurl + '/assets/img/static/landing/superrr-lab.jpg');

}
.landing-teaser-right{
  background-image: url($baseurl + '/assets/img/static/landing/superrr-community.jpg');
}

.landing-impressum{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

.loader{
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: white;
   z-index: 100000;
   font-family: $font-paelzer-grot-medium;
   font-size: 10vw;
   transform: translate(0%,-100%);
   span{
     transform: skewX(-15deg) translate(-50%,-50%);
     position: absolute;
     line-height: 1;
     top: 50%;
     left: 50%;
   }
 }

.more-btn-wrap{
  width: 100%;
  text-align: center;
}
.landing-link{
  width: 100%;
  height: 100%;
  display: block;
}

.pagination{

  padding: 50px 0;
  display: block;
  text-transform: uppercase;

  a{
    border-bottom-width: 0 !important;
    font-size: 1.5rem;
  }

  .prev{
    float: left;
    display: inline-block;
  }

  .next{
    float: right;
    display: inline-block;
  }

}

/*********************
HEADER STYLES
*********************/
.header-wrap{
  @include transition(transform .25s ease);
  transform: translateY(0%);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-spacer{
  height: 100vh;
}
.header{

  height: 12vh;
  width: 100%;
  background-color: white;
  position: relative;

  &.fellows{
    background-image: url($baseurl + '/assets/img/static/backgrounds/fellows/ftf-bg-1.jpg');
    .logo {
      font-size: 12vw;
    }
  }

  &.lab{
    background-image: url($baseurl + '/assets/img/static/backgrounds/lab/superrr_BG-header-lab.jpg');
    .logo {
      font-size: 12vw;
    }
  }

  &.old{
    background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG-header.jpg');
    .logo {
      font-size: 12vw;
    }
  }

  background-image: url($baseurl + '/assets/img/static/backgrounds/superrr_BG-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.frontpage{

    height: 100vh;

    .logo{
      font-size: 19vw;
      top: 40%;
      .logo-inner{
        transform: scaleY(8.6) skewX(-15deg);
      }
    }

  }

  .logo{
    display: inline-block;
    font-family: $font-paelzer-grot-medium;
    font-size: 12vw;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;

    .logo-inner{
      padding-left: 4vw;
      transform: skewX(-15deg);
    }

  }
}

.home-hero{
  min-height: calc(100vh - 12vh);
  padding-top: 0 !important;
}
.home-info {
  max-width: 700px;
}

#trigger{
  height: 100vh;
  position: absolute;
  width: 100%;
}

.home-claim{
  line-height: 1;
  color: $secondary-color;
}
.home-icon-wrap{
  height: calc(35vh - 4vh);
  width: 100%;
  object{
    height: 100%;
    width: auto;
  }
}

/*********************
MAIN NAV
*********************/
.navigation-left-wrap{

  transform: translateX(-320px);

  .nav-open-btn{
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open-info{
    span.open{
      display:block;
    }
  }

  &.animated {
    @include transition(transform .25s ease);
  }

  &.open {
    transform: translateX(0);
    .nav-open-btn{
      pointer-events: none;
      visibility: hidden;
    }

    .nav-open-info{
      span.open{
        display:none;
      }
    }
  }

  .navigation-left-wrap-inner{
    margin: 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  width: 320px;
  height: 100%;
  position: fixed;
  z-index: 2;

  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 84%, rgba(244,244,244,1) 100%);

  ul.main-nav{

    @include transition(max-height .25s ease-in);
    /*overflow: hidden;*/

    position: relative;
    width: 100%;

    margin: 0;
    display: inline-block;
    line-height: 1;
    z-index: 5;

    text-align: left;

    &.fellows {

      li {
        text-align: center;

        a{
          color: $color-ftf-lila;
          &:hover{
            color: white;
            @include ftf-text-glow(lila);

          }
        }

        &.current {
          a{
            color: white;
            @include ftf-text-glow(lila);
            @include circle-link($color-ftf-green, 2px);
          }
        }
      }
    }

    &.frontpage{
      background-color: $white;
    }

    li{
      display: block;
      padding-left: 0 !important;
      padding-right: 0px;
      margin-bottom: 20px !important;

      &:last-of-type{
        padding-right: 0;
      }

      &:before{
        display: none;
      }

      a{
        letter-spacing: -0.1rem;
        line-height: 1;
      }

      &.current{
        a{
          pointer-events: none;

          &:after{
           /*@include circle-link();*/
          }
        }
      }
    }
  }

  .community-batch-wrap{
     width: 50%;
     margin-top: 1rem;
   }

}

.navigation-left-victim{
  &.post {
    padding-top: 20px;
  }
  @include transition(transform .25s ease);
  &.nav-open{
    transform: translateX(320px);
    @include transition(transform .25s ease);
  }
}
.navigation-left-open-wrap{
  padding-top: 1rem;
  position: absolute;
  top: 0px;
  left: 320px;
  padding-left: 1rem;
  cursor: pointer;
  background-color: transparent;
  width: 100%;


  @include transition(transform .25s ease);

  transform: translateY(0%);

  &.gone{
    transform: translateY(-100%);
  }


  .nav-open-btn{

    svg {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    &.fellows {
      svg {
        path {
          stroke: $color-ftf-lila !important;
        }
      }
    }

    width: 53px;
    height: 36px;
    margin-bottom: 1rem;
  }

  .nav-open-info{
    transform: rotate(-90deg) translateY(-26px);
    transform-origin: center;
    display: block;
  }

}
.nav-close-btn{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &.fellows {
    svg {
      path {
        stroke: $color-ftf-lila !important;
      }
    }
  }


  width: 36px;
  height: 36px;
  margin-bottom: 2rem;
}

.navigation-wrap{
  ul.main-nav{

    @include transition(max-height .25s ease-in);
    /*overflow: hidden;*/

    position: relative;
    width: 100%;

    margin: 0 auto;
    line-height: 1;
    z-index: 5;

    text-align: center;

    &.frontpage{
      background-color: $white;
    }

    .main-nav-inner{
      display: inline-block;
      padding: 20px 0 10px 0;
    }

    li{
      display: inline-block;
      padding-left: 0 !important;
      padding-right: 0px;
      font-size: 2rem;
      margin-bottom: 0;

      &:last-of-type{
        padding-right: 0;
      }

      &:before{
        display: none;
      }

      a{
        padding: 4px 5px 4px 5px;
        &:hover{
          background-color: $link-background-hover;
        }

        &.inactive{
          opacity: 0.5;
          pointer-events: none;
        }

      }

      ul.submenu{
        background-color: white;
        position: absolute;
      }

      &.current{
        a{
          background-color: $link-background-hover;
        }
      }

    }

  }
}

.home-text{
  line-height: 1.2em;
}

a.bg-hover{
  padding: 2px 4px;
  @include transition(background-color .1s ease-out);
  background-color: transparent;

  &:hover{
    background-color: $link-background-hover;
    @include custom-cursor-hover();
  }
}

.batch-inner{
  &:hover{
    @include custom-cursor-hover();
  }
  width: 100%;
  display: block;
  position: relative;

  img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

}
.batch-svg{
  pointer-events: none;
}

.card-holder {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  margin-left: unset;
  margin-right: unset;
  padding-top: $line-height;
  padding-bottom: 100px;
  overflow-x: scroll;
  overflow-y: show;
  scroll-padding: calc(50% - 80vw / 2);
  scroll-snap-type: x mandatory;
  width: 100%;
  will-change: auto;
  height: 100%;

  &::before, &:after{
    content: '';
    display: block;
    height: 1px;
    flex-shrink: 0;
    width: calc(50% - 80vw / 2);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .card{
    scroll-snap-align: start;
    width: calc(calc(80vw - calc(#{$cards-per-column} - 1) * #{$row-gap}) / #{$cards-per-column});
    flex-shrink: 0;
    overflow: hidden;
    border-width: 0;
    margin-right: 20px;
    max-width: 956px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;

    .teaser-card-inner{

      height: 600px;
      display:block;
      background-color: white;
      position: relative;
      border-radius: 1.5rem;
      overflow: hidden;
      margin: 0 auto;

      .teaser-card-image{
        padding: 0;
        margin-bottom: 0;
        max-height: 50%;
        overflow: hidden;

        .teaser-card-image-inner {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

      }

      .teaser-card-text{
        padding: 25px;
        p{
          margin-bottom: 1rem;
        }
      }
    }

    &.vision {
      border-radius: 0;
      background-color: transparent;
      overflow: unset;
      .teaser-card-inner{
        height: 625px;
        width: 100%;
        background-color: transparent;
        overflow: unset;
        
        .teaser-card-image {
          max-height: 100%;
          .teaser-card-image-inner {
            display: block;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }

        }

        .teaser-card-text{
          border-radius: 1.5rem;
          background-color: white;
        }
      };
    }

  }
}

.cards-navigation{

  display: flex;
  justify-content: center;

  .card-dot{
    font-size: $fontsize-28;
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    &:last-of-type{
      margin-right: 0;
    }

    &.active{
      &:after{
        content:'';
        display: block;
        border: 1px solid black;
        height: 10px;
        border-radius: 50%;
        width: 200%;
        position: absolute;
        transform: translate(-50%,-15px);
        left: 50%;
      }
    }

  }
}

/*********************
PAGE & SECTIONS
*********************/

.content-wrap-inner{
  width: 88%;
  margin: 0 auto;
  max-width: 1280px;

  &.full{
    width: 100%;
    padding: 0 1.5rem;
    max-width: none;
  }
  &.news{
    max-width: 1600px;
    &.home {
      max-width: 1280px;
    }
  }
}

.posts-holder {
  &.home {
    margin-top: 25px;
    padding-bottom: 0;
  }
}

/*********************
CONTENT
*********************/

.content-block{
  padding: 70px 0;
}
.image-block{
  padding-top: 70px;
}

.fade-in{
  opacity: 0;
}

.content-image-wrap{
  margin-bottom: 200px;

  img{
    width: 100%;
    height: auto;
  }

  .caption{
    font-size: 1em;
  }

}

.video-wrap{
  margin: 50px 0;
  width: 100%;
}


.scroll-hint-wrap{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
  top:0;
  left:0;

  .scroll-hint{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    z-index: 2;
    pointer-events: none;
    font-size: 1.25em;
    transform-origin: left;

    &.fellows{
      color: white;
    }

    &.gone{
      bottom: -150px !important;
    }

    @include transition(bottom .25s ease);

  }

}
body{
  &.safari.mobile{
    .scroll-hint-wrap{
      .scroll-hint{
       /* bottom: 60px; */
      }
    }
  }
}

.ftf-wrap{
  .content-wrap{
    width: 95%;
    margin: 0 auto;
  }
}

.intro-section {
  padding-top: 50px;
}
.min-fullheight{
  padding: 50px 0 100px 0;
  >p:last-of-type {
    margin-bottom: 0;
  }
}
.intro-text{

  text-align: center;
}
.intro-text{
  font-size: 1.25rem !important;
  a{
    @include transition(background-color .2s ease);
    background-color: $link-background-hover;
    border-bottom-width: 0 !important;
    padding: 0 5px;
    &:hover{
      background-color: $third-color;
      @include custom-cursor-hover();
    }
  }
}

.intro-btn{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-top: 50px;
  text-align: center;
}

.more-btn{
  font-size: $fontsize-28;
}

.text-wrap{
  h1,h2,h3,h4,h5{
    text-transform: uppercase;
  }
  p{
    text-align: left;
  }

  a{

    border-bottom: 1px solid black;

    &:hover{
      border-bottom: 1px solid $third-color;
    }
  }

  ol,ul{
    li{
      padding-left: 45px;
      &::before
      {
        top: 4px;
      }
    }
  }
}
.text-content{
  padding-bottom: 50px;
  &:last-of-type{
    padding-bottom: 0;
  }
}

/*********************
BLOG
*********************/
.blog{
  background-color: $background-color-fellow;
}
.blog-post{

  margin-top: 25px;

  .post-header{
    margin-bottom: 50px;
  }

  .post-headline{
    white-space: normal;
    padding: 0;
    margin: 0;
    display: block;
    font-family: $font-paelzer-grot-medium;
  }
  a.post-headline {
    &:hover{
      color: $fellow-color;
    }
  }

  .text-wrap{
    a{
      white-space: normal;
    }
  }

  p img, img{
    width: 100% !important;
    height: auto;
    margin-bottom: 10px;
  }

  .post-content{
    font-family: $font-paelzer-grot-medium;
  }

  .post-info {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

    .more-btn{
    padding-bottom: 0;
    .more-btn-inner{
      &::after{
        display: none;
      }
    }
  }


  margin-bottom: 100px;

}

/*********************
FELLOW TEASER
*********************/
.fellow-project-name{

  .fellow-project-name-inner{
    line-height: 1.5em;
    display: inline;
  }

  font-size: 2.25rem;
  margin-bottom: 50px;
  font-family: $font-paelzer-grot-medium;
  text-transform: uppercase;
  display: inline-block;

}
.fellow-name{
  color: black;
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 25px;
}
.fellow-overlay{
  position: absolute;
}
.event-content{
  text-align: left;
}
.fellow-link{

  margin-bottom: 20px;

  a{
    color: black;
    background-color: $link-background-hover;
    padding: 0;

    &:hover{
      text-decoration: none;
      color: black;
    }
    font-size: 1.7rem;
    line-height: 1.2;
  }
}
.fellow-content{

  font-family: $font-paelzer-grot-medium;

  a{
    color: white;
    &:hover{
      color: white;
      text-decoration: underline;
    }
  }
}

/*********************
PROJECTS
*********************/
.project-image{
  margin-bottom: 2rem;
}
.projects-wrap{
  .project-teaser{

    margin-bottom: 100px;

    a{
      background-color: transparent !important;
    }
    .project-text{
      margin-top: 1em;
    }
  }
}

/*********************
CITY/FELLOW
*********************/

.right{
  .batch-wrap{
    &.fellows{
      .batch-svg{
        transform: translate(-50%,-50%);
        left: 50%;
        top:-23%;
      }
    }
  }
}
.batch-wrap{
  &.city{
    .batch-inner {
      padding: 20%;
    }

  }

  &.fellows{

    padding: 100px 20px 30px 20px;

    .batch-svg{
      position: absolute;
      z-index: 2;
      width: 40%;
      transform: translate(-50%,-50%);
      left:50%;
      top:-23%;
    }
    img{
      position: relative;
      z-index: 1;
      border-radius: 3rem;
      overflow: hidden;
    }
  }
}
.event-info-wrap{
  position: relative;
  padding: 0 20px 100px 20px;
  display: flex;
  flex-direction: column;
}

.event-intro{
  font-size: 2.25rem;
  margin-bottom: 5px;
}
.event-date{
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 15px;
}
.event-tags{
  font-size: 1.75rem;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1;
}

.event-link{
  display: inline-block;
  line-height: 1;
  margin: 0 auto;
}

.fellow-spacer{
  height: 4vh;
  background-color: white;
}
.event-content{
  margin-bottom: 15px;
  &.fellows{
    font-family: $font-paelzer-grot-medium;

    a{
      &:hover{
        @include custom-cursor-hover();
      }
    }

  }
}

.event-hosts{
  text-transform: uppercase;
  text-align: center;

  &.fellows{
    text-align: left;
  }

}

.event-participants, .event-hosts{
  a{
    @include transition(background-color .2s ease);
    background-color: $link-background-hover;
    &:hover{
      background-color: $third-color;
      @include custom-cursor-hover();
    }
  }
}
.event-participants{
  margin-bottom: 50px;
}

.join-event{
  text-align: center;
  padding: 50px 0;
}

.city-wrap{
  padding: 20px;
  text-align: center;
  &.fellows{
    text-align: left;
    padding: 0 !important;
  }
}

/*********************
TALKS
*********************/

.talks-holder{
  margin-bottom: 50px;

  &__past {
    margin-bottom: 100px;
  }

  .talk-teaser{
    @include bordered-box();
    h3{
      line-height: 1.1;
      max-width: 750px;
    }

    border: 1px solid $grey;

    &__link {
      border: 1px solid $orange;
      &:hover, &:active {
        -webkit-box-shadow: 0px 0px 50px -4px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 50px -4px rgba(0,0,0,0.3);
      }
    }

    .talk-teaser-info {
      display: flex;
      justify-content: space-between;
    }

  }
}

/*********************
CONTRIBUTORS
*********************/

.contributors-holder{
  .contributor{

    &-small-inner {
      .contributor-image{
      }
    }

    &-inner {
      @include bordered-box();
    }

    &-image{
      line-height: 1.1;
      border-radius: 1.5rem;

      img {
        border-radius: 1.5rem;
        overflow: hidden;
      }

      z-index: 1;
    }

    &-content{
      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &-link {
      &:after {
        display: none !important;
      }
    }

    &-title {
      &-text {
        margin-bottom: 0;
      }
    }

  }
}

/*********************
PRINCIPLES
*********************/

.principles-headline {
  padding: 3rem 0 1.5rem 0;
  &:first-of-type {
    padding-top: 1.5rem;
  }
}

.principles-intro {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.principle-info-box {
  margin-top: 75px;
  @include bordered-box();
  @include ftf-shadow();
}

/*********************
FTF ABOUT
*********************/

.ftf-quote {
  margin: 75px 20px;
  blockquote {
    margin: 0;
    font-family: $font-basteleur;
    color: $color-ftf-red;
    font-size: 1.4rem;
    text-align: left;
    span {
      font-size: 1.4rem;
      margin-top: 1.5rem;
      display: block;
    }
  }
}
.faq-holder {
  padding: 50px 0 0 0;
}

/*********************
FOOTER STYLES
*********************/

.newsletter-signup-wrap{
  margin-bottom: 10vh;
}

.posts-holder{

  padding-bottom: 0px;

  display: block;

  .post-teaser{
    margin-bottom: 50px;
    cursor: pointer;
    h2 {
      @include transition(color .25s ease);
    }
    &:hover {
      h2 {
        color: $third-color;
      }
    }
  }
}

.post-info-text{
  color: $fellow-color;
  display: block;
  margin: 0.5em 0;
  line-height: 1;
}
.footer-wrap {
  margin: 0 !important;
}
.footer{
  ul.footer-links li{
    .social-links{
      a{
        font-size: 2.25rem !important;
        border-bottom-width: 0 !important;
        &:after {
          display: none;
        }
        &:hover{
          background-color: transparent;
          color: $third-color;
        }
      }
    }
  }

  &.fellows {
    color: $color-ftf-lila;

    a {
      color: $color-ftf-lila;
    }

    ul.footer-links li a {
      &:after {
        display: none !important;
      }
    }
    ul.footer-links li .social-links a {
      color: $color-ftf-lila;

      &:hover {
        i{
          &:before{
            @include ftf-text-glow();
          }
        }
        color: $color-ftf-lila;
      }
    }

  }

  &.lab {

    color: white;

    a{
      color: white;
    }

    .newsletter-wrap{
      form{
        .button{
          background-color: $link-background-hover-lab;
          border: 0px solid $link-background-hover-lab;
          &:hover, &:active, &:focus {
            background-color: $link-background-hover-lab;
            border-color: $link-background-hover-lab;
          }
        }
      }
    }
  }


  .newsletter-wrap{
    padding-top: 50px;

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $input-placeholder-color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $input-placeholder-color;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $input-placeholder-color;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $input-placeholder-color;
    }

    form{

      .field-wrap{
        text-align: center;
      }

      h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 2.25em;

      }
      input[type="email"],input[type="text"]{
        width: 90%;
        border: 0;
        height: 60px;
        text-align: center;
        font-size: 2.25em;
        text-transform: uppercase;
        margin-bottom: 10px;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:focus{
          outline: none;
        }

        &.error{
          border-color: 3px solid $secondary-color;
        }

      }

      #mc-embedded-subscribe{

      }

      .error-message, .success-message, .mc-status{
        margin-bottom: 25px;
        text-align: center;
        font-size: 1.25em;
        a{
          font-size: inherit;
        }
      }
      .error-message{
        color: $secondary-color;
        a{
          font-size: inherit;
          color: $secondary-color;
        }
      }

      .button-wrap{
        text-align: center;
      }
      .button {

        @include transition(all .1s ease);

        background-color: $link-background-hover;
        border: 1px solid $link-background-hover;
        display: inline-block;
        font-size: 1.75em;
        line-height: 1.2;
        padding: 10px 30px 10px 30px;
        width: auto;
        outline: none;
        transform: scale(1);
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:hover, &:active, &:focus{
          background-color: $third-color;
          border-color: $third-color;
          text-decoration: none;
          outline: none;
          @include custom-cursor-hover();
        }

      }

    }
  }

  .social{
    position: relative;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: inline-block;
    padding: 100px 0;
    list-style: none;

    a{
      font-size: $fontsize-50;
      line-height: 1.25em;
      &:hover{
        background-color: $link-background-hover;
      }
    }

    .touch{
      font-size: 2.25rem;
      padding-bottom: 10px;
      text-align: center;
    }

    ul{

      margin-top: 0 !important;
      margin-bottom: 25px !important;

      li{

        padding-left: 0 !important;
        margin-bottom: 0 !important;





        &:before{
          display: none;
        }
        text-align: center;

      }
    }

  }

  ul.footer-links{

    width: 100%;
    bottom: 25px;
    text-align: center;


    li{
      display: block;
      &:before{
        display: none;
      }
      margin-bottom: 0;
    }

  }

}

.image-half {
  width: 100%;
  margin: 50px auto;
  img {
    margin-bottom: 0;
  }
  p, a {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
  }
}

.organizations-wrap{

  a{

    margin: 20px;
    display: block;

    img{
      height: 35px;
      width: auto;
      display: inline-block;
    }

  }
}

.marquee {
  position: relative;
  animation: marquee 300s linear infinite;
  display: block;
}

.btn {
  font-size: unset;
  text-align: left;
  white-space: initial;
}

@keyframes marquee {
  0%   { text-indent: 0em }
  100% { text-indent: -50em }
}
