<!doctype html>
<html lang="de">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=2.5" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-ftf.liquid %}
    {% include opengraph-ftf.liquid %}
</head>
<body>
<div class="loader">
    <span>SUPERRR.NET</span>
</div>
<div id="barba-wrapper">
    <div class="barba-container">
        {% include header.liquid page_type='fellows' %}
        <div class="page-wrap fellows col-24">

            {% assign tags = page.tags | join:' ' %}
            {% assign tags = "" | append:tags %}
            {% include partials/fellow.liquid title=page.title project=page.project members=page.members name=page.name participants=page.participants img=page.img profile_img=page.profile_img city=page.city date=page.date event_date=page.event_date event_year=page.event_year tags=tags email=page.email %}

            <!-- newsletter/social -->
            {% include partials/social.liquid page_type="fellows" %}

        </div>
    </div>
</div>

{% include footer.liquid %}
