<!doctype html>
<html lang="de">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=3.0" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-ftf.liquid %}
    {% include opengraph-ftf.liquid %}
</head>
<body class="feminist-tech">
{% include header.liquid page_type='fellows' %}
<div class="row page-wrap-outter">
    <div class="page-wrap col-24 fellows">
        <div class="page-content section fullwidth">
            {% include partials/navigation-left-ftf.liquid %}
            <div class="content-wrap mb-0 navigation-left-victim">
                {% assign tags = page.tags | join:' ' %}
                {% assign tags = "" | append:tags %}
                {% include partials/fellow.liquid title=page.title project=page.project members=page.members name=page.name participants=page.participants img=page.img teaser_img=page.teaser_img city=page.city date=page.date event_date=page.event_date event_year=page.event_year tags=tags email=page.email %}
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="fellows" %}
{% include footer.liquid %}
