<!doctype html>
<html lang="de">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Superrr - No Agenda. No Men*. No Bullshit.">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=2.5" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-ftf.liquid %}
    {% include opengraph-ftf.liquid %}
</head>
<body>
<div class="loader">
    <span>SUPERRR.NET</span>
</div>
{% include header.liquid page_type='fellows' %}
<div class="page-wrap col-24 ftf-wrap">
    {{ content }}
</div>

{% include footer.liquid %}
