<!doctype html>
<html lang="de">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Feminist Tech Fellows - Demanding inclusive and radically diverse digital futures">
    <meta name="author" content="Superrr.net">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=2.9" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-ftf.liquid %}
    {% include opengraph-ftf.liquid %}
</head>
<body class="feminist-tech">
{% include header.liquid page_type='fellows' %}
<div class="row page-wrap-outter">
    <div class="page-wrap col-24">
        {{ content }}
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="fellows" %}
{% include footer.liquid %}
