---
layout: ftf
title : About the Feminist Tech Framework
description : The Feminist Tech Framework is a work in progress set of guidelines for feminist tech policy-making and technology creation, an accompanying card deck, as well as visionary essays for more just technological futures. The guidelines consist of 12 principles, addressing different levels – from global to intrapersonal – of feminist technology.
type: fellows
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap navigation-left-victim">
        <div class="section fullwidth bg-white mobile-padded">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1>About the Feminist Tech Framework</h1>
                <div class="intro-text">
                    <p>
                        The Feminist Tech Framework is a set of work-in-progress guidelines for feminist tech policy-making and technology creation. The guidelines consist of 12 principles for feminist technology, which range from the intrapersonal to the global, and which are accompanied by a card deck and six essays envisioning more just technological futures.
                    </p>
                    <p>
                        The Framework is created by <a href="https://superrr.net">Superrr Lab</a> and contributors of the Superrr Community. Superrr Lab develops visions and projects with the goal of creating more equitable futures. We research technologies, build networks and shape new narratives. Superrr is playful, visionary and feminist.
                    </p>
                </div>
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner">
                <div class="ftf-quote">
                    <blockquote class="text-left text-sm-center">
                        »We are committed to interrogating the capitalist logic that drives technology towards further privatization, profit, and corporate control. We work to create alternative forms of economic power that are grounded in principles of cooperation, solidarity, commons, environmental sustainability and openness.«
                        <span class="text-left text-sm-center">— Feminist Internet</span>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
                <p class="mb-0">
                    Contemporary digitisation narratives are economic in nature and serve the interests of corporations over the needs of societies and minorities. By contrast, feminist tech policy takes a holistic view of digitisation, to look at it in terms of intersectional patterns of discrimination. By taking a feminist approach we are able to think and see beyond existing stories and structures. We question current innovation narratives and examine the value of maintenance, accessibility, openness and care for the digital societies of the future.
                </p>

                {% assign href = site.baseurl | append: site.card_deck_download_link %}
                {% include partials/ftf-button.liquid text="Download the deck" href=href target='_blank' %}

                <p>
                    By building up this kind of open digital knowledge archive on feministtech.org as well as the Feminist Tech Principles card deck, we aim to facilitate a long-term exchange on the topics of intersectionality and digitisation. The principles, observations, good practice examples and future visions are intended to guide government institutions, organisations, companies and individuals to envision, plan, and make decisions related to technology. We intend for the framework to broaden current discourse and highlight the changes that are needed to ensure that all groups in society benefit equitably from digitisation.
                </p>
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
                <div class="faq-holder">
                    <!-- include FAQs -->
                    <div id="accordion" class="accordion">
                        {% assign faqs = site.faqs | sort: 'order' %}
                        {% for item in faqs %}
                            <div class="card with-shadow">
                                <div class="card-header" id="heading{{ forloop.index0 }}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.index0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.index0 }}">
                                            <p class="m-0 p-0">{{ item.title }}</p>
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapse{{ forloop.index0 }}" class="collapse" aria-labelledby="heading{{ forloop.index0 }}" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ item.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



