---
layout: ftf
title : The Feminist Tech Principles
description : Demanding inclusive and radically diverse digital futures
type: fellows
---

<div class="page-content section fullwidth">
    {% include partials/navigation-left-ftf.liquid %}

    <div class="content-wrap navigation-left-victim">
        <div class="section fullwidth bg-white mobile-padded">
            <div class="content-wrap-inner shrinked intro-wrap">
                <h1>The Feminist Tech Principles, Iteration 1</h1>
                <div>
                    <p>
                        The Feminist Tech principles are a set of guidelines for tech policy-making and technology creation. They are intended as responsive work-in-progress that reflect the evolving nature of our digital world. The principles were drafted in a collaborative process between the team at SUPERRR Lab and a group of activists, policymakers, writers, designers, technologists, researchers, and educators, that advocate for digital rights and the rights of marginalized groups.
                    </p>
                    <p>
                        Each principle is supported by insights into the status quo, why the principle is necessary, and a good practice example of people or organisations already working on the topic in a feminist way. To ensure the topics are tangible and accessible to a wide audience, we’ve turned to storytelling and future narratives for some of the principles, with the aim of expanding further.

                    </p>
                </div>
            </div>
        </div>
        <div class="section fullwidth bg-white">
            <div class="content-wrap-inner shrinked">
                <div class="principles-holder mt-5 pt-5">
                    <!-- include principles -->
                    {% assign principles = site.principles | sort: 'order' %}
                    <div id="accordion" class="accordion">
                        {% for item in principles %}
                            {% if item.category %}
                                <h3 id="{{ item.anchor }}" class="principles-headline color-ftf-red text-center">{{ item.category }}</h3>
                            {% endif %}
                            {% include sections/principle-teaser.liquid item=item %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var is_large_header_page = true;
</script>



